[2019-01-23 12:55] koaning opened #3 "feature request: loess/lowess regression"
I've always wanted to have loess regression in python. R has a cool version of it but it has always been missing. This would be a great model to host here.

[2019-01-23 12:59] koaning opened #4 "feature request: grouped model"
sometimes you'd like to group the dataset into separate parts and run a model in each part. the idea of this model would be that you can add a classified/regressor of your own but this model will make sure it gets run per group.

note that this model could actually work quite well in combination with a `sklearn.dummy` model.

[2019-01-23 13:01] koaning opened #5 "feature request: kmeans crossvalidator"
this is a bit of a silly request, but it is an interesting idea to cross validate on clusters instead of kfolds.

[2019-02-18 15:38] koaning opened #6 "feature request: embedding transformer -> umap"
train a umap/tsne embedding before passing it to the algorithm

[2019-02-18 15:39] koaning opened #7 "feature request: group model"

[2019-02-18 15:39] koaning opened #8 "feature request: decay model"
The idea is to pass a parameter `decay` that will automatically decay past features using exponential decay such that the `sample_weights` param can be optimised in a grid search.

It might be good to discuss what other methods of feature decay we might want.

[2019-02-18 15:39] koaning opened #9 "feature request: GMM classifier"

[2019-02-27 10:38] koaning opened #10 "feature request: documentation"
would be nice.

[2019-02-27 15:03] koaning opened #11 "one-not-encoder"
me: plz dont do this

also me: but it so funny

[2019-02-27 15:14] kayhoogland opened #12 "feature request: dtype selector"
Selecting Pandas columns by their dtype

[2019-02-27 15:52] koaning commented on #12
Could you give an example of what the resulting pipeline might look like?

[2019-02-27 15:52] #11 closed

[2019-02-27 15:54] koaning commented on #5
The main idea is that you can somewhat safely assume that each cluster (ie. test group) is different from the rest (ie. train group).

[2019-02-28 06:35] kayhoogland commented on #12
I suppose a transformer such as this one is what I am thinking of.

[code]

[2019-02-28 14:55] koaning commented on #12
A `ValueError` might be better than a mere assert but this looks good to me. Any idea on how you might want to test this?

[2019-03-01 11:05] dvanamstel commented on #8
Assuming with decay model you mean a model of the form where dy/dt = C * y, it ties into what I wanted to propose: adding simple (linear) state-space models.

The linear form is:
dx/dt = A * x + B * u
y = C * x + D * u

in where u is the input, x is the "internal state" and y is the output you observe.

[2019-03-01 12:06] koaning commented on #8
this is a good idea maybe but this is totally something else. with decay
here i was aiming to automate the sample weights param for some regression
models.

feel free to make a proposal for a state model though.

On Fri 1. Mar 2019 at 12:05, dvanamstel <notifications@github.com> wrote:

--

*- Vincent*

[2019-03-01 13:51] dvanamstel opened #13 "feature request: state-space models"
Add state-space models, in discrete form:

[code]

in where:
x(k) -  internal state vector at timestamp k
u(k) - input vector at timestamp k
y(k) - output at timestamp k

Initial implementation would be with a given size of state vector x (e.g. you know the dimension of the underlying system). Second iteration could also estimate the length of this vector x, but that's prob not doable in a single

[2019-03-01 17:59] koaning commented on #13
A few observations.

1. This assumes that the dataset `X, y` needs to be sorted *and* needs to represent a single timeseries? Is this the intended behavior?
2. What is reasonable for k=0?
3. Can you come up with a use-case?

[2019-03-01 18:00] koaning commented on #3
The easiest way to explain what it needs to do:

![](https://raw.githubusercontent.com/simplystats/simplystats.github.io/master/_images/loess.gif)

[2019-03-01 18:01] #7 closed

[2019-03-01 18:05] koaning opened #14 "feature request: get appveyor"
this is travis but with support for windows. https://www.appveyor.com/pricing/

[2019-03-01 19:39] #14 closed

[2019-03-01 19:45] MBrouns opened #17 "feature request: only apply random noise in `RandomAdder` to training data"
Currently, `RandomAdder` adds noise to data both at training and at prediction time. This causes predictions to become non-deterministic and it offers no clear benefit in most cases I can think of.

I suggest changing the default behaviour of the transformer to only add random noise to the train data and optionally through a constructor flag also to the prediction data.

[2019-03-01 19:49] koaning opened #19 "`RandomAdder` currently applies to train and test"
preferably this is a setting.

[2019-03-01 19:49] #19 closed

[2019-03-01 20:05] koaning opened #20 "feature request: RBFRepeater"
feature generation that can be used for timeseries. trick from the london talk.

[2019-03-01 21:07] koaning opened #22 "enchancement: add GMM setting for `RandomRegressor`"
once https://github.com/koaning/scikit-lego/pull/21 is merged there is a randomregression. this is a dummy model used for benchmarking.

[2019-03-01 21:09] koaning commented on #22
the goal is to sample from a GMM during predict.

[2019-03-04 13:56] dvanamstel commented on #13
1. Indeed, X and y have to be sorted time series.

2. Not sure if I understand the question correctly? For k=0 you insert the first element in your time-series, e.g. the "initial condition".
3. In theory; infinite. In practice: depends on how well the fit is.

Compared to a linear model (Note that if A, B & C are 0 the formulation reduces to a "standard" linear model y = D * u) it should perform b

[2019-03-04 15:09] koaning commented on #13
in a way, it sounds as if you are going to implement an RNN.

[2019-03-04 15:22] koaning commented on #13
i might be open to something like this being a part of scikit-lego. but i kind of want to be careful with how many dependencies we add to the project.

https://github.com/dnouri/skorch

thoughts, @MBrouns ?

[2019-03-04 17:33] dvanamstel commented on #13
I wasn't planning on implementing a RNN. That would be equivalent to using a neural network to implement a linear model: possible but a bit overkill. :)

[2019-03-05 07:26] kayhoogland commented on #12
- Good point, I agree!
- I believe you mean this: https://goo.gl/ZAdbv7. At what point would like to determine the dtype if it will not be in the __init__?
- For testing, a simple test with a small sample dataframe will be enough I assume. We do not have to test the _.select_dtypes_ function of Pandas.

[2019-03-05 10:08] koaning commented on #12
There's some basic tests in there that check things like "a transformer should not change the number of rows" and you might consider adding a test for "a transformer should not change the order of the input/output".

[2019-03-05 10:11] koaning opened #23 "feature request: ensemble model that takes p(class | model) into account"
It might be nice to have an variant of the [voting classifier](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.VotingClassifier.html). One that goes a bit further than mere voting but takes the uncertainty of seperate classifiers into account.

[2019-03-05 10:13] koaning opened #24 "confusion based reweighting"
A conference paper that was downloaded 700+ times can't be wrong.

https://link.springer.com/chapter/10.1007/978-3-319-00651-2_19

[2019-03-05 10:20] koaning commented on #24
The idea is to have an automated system to learn the `weights` for the https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.VotingClassifier.html

[2019-03-05 10:26] #24 closed

[2019-03-05 10:26] koaning commented on #23
700 downloads cant be wrong.

https://link.springer.com/chapter/10.1007/978-3-319-00651-2_19

[2019-03-05 13:59] koaning opened #25 "feature request: moving window cv splitter"
https://github.com/roelbertens/time-series-nested-cv/blob/master/time_series_cross_validation/custom_time_series_split.py

[2019-03-05 14:01] koaning opened #26 "feature request: timeseries features"
it might be nice to be able to accept a datetime column and to generate lots of relevant features from it that can be used in an sklearn pipeline.

think: day_of_week, hour, etc.

would be especially nice if this might integrate well with an RBF repeater.

[2019-03-05 19:57] koaning opened #27 "feature request: outlier detection via GMM"
as an alternative for isolation forests.

[2019-03-10 20:22] koaning opened #28 "feature request: lattice regression"
the idea is to be force the effect of the parameters of the model to be either increasing or decreasing.

[2019-03-10 20:23] koaning opened #29 "feature request: RBF Features"
this is like the repeating RBF features except that this ... won't repeat. it will simply span the entire space of a variable.

[2019-03-12 07:39] koaning opened #30 "feature request: monotonic models"
it would be awesome if you could specify (per column) if the feature should be monotonically increasing, descreasing, updownup, downupdown or free. forcing this in a simple linear regression would already be kind of sweet.

[2019-03-15 06:58] MaxHalford commented on #20
Hey @koaning,

I stumbled upon your talk a few days ago and really enjoyed many of your talking points. I was curious about the RBF kernel trick so I decided to implement it in an online learning library me and some friends are working on. From what I understand The idea is simply to computing the distance between, say, a month and all the 12 months of the year using a RBF. This way September is c

[2019-03-15 11:39] koaning opened #31 "feature request: EstimatorTransformer"
is it possible to make a transformer that takes the output of an estimator and adds that to the values that is used for prediction? do we want it?

[2019-03-15 20:47] koaning commented on #20
1. That cream stuff sounds cool beans. I'll give it a spin. Also: PyData Amsterdam has a CFP open at the moment. I'm still in the committee and that cream library sounds like something we'd love to host.
2. The goal here is to make an `sklearn` compatible transformer that is general. Your example is good but our goal is to be able to supply a date column and a number of RBFs you'd like per year. T

[2019-03-15 20:55] MaxHalford commented on #20
1. Sounds great! I've started making some slides (written in English) for an upcoming of the data science Meetup back here in Toulouse, so maybe I can reuse them.
2. Okay good to know, I just wanted to make sure the maths were right. Indeed I think that having a transformer to extract date features would be nice because it could then pipeline into a `RBFTransformer`.

Good stuff!

[2019-03-15 21:02] koaning commented on #20
Question about creme: most of the learning that occurs, is that just a small SGD step that occurs per datapoint or is there something more happening? SKlearn has some [passive agressive](http://koaning.io/posts/passive-agressive-algorithms/) things [api here](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.PassiveAggressiveClassifier.html), but creme is not doing that atm?

[2019-03-15 21:07] MaxHalford commented on #20
I'm not 100% sure what you mean but here goes: you can provide an optimizer to `LinearRegression` and `LogisticRegression`. The default optimizer for both is called `VanillaSGD` and simply performs textbook online gradient descent. There are many optimisers you can use, such as `PassiveAggressiveI`, `PassiveAggressiveII`, `Adam`, etc. `sklearn`'s `SGDClassifier` and `SGDRegressor` can only use pla

[2019-03-15 21:18] koaning commented on #20
Yep. This is all I wanted to know. Thanks!

Do consider sending that cfp tho: https://pydata.org/amsterdam2019/cfp/

[2019-03-15 23:22] MaxHalford commented on #20
I just did :)

[2019-03-16 22:18] koaning opened #32 "feature request: GMM Naive Bayes"
nuff said.

[2019-03-18 13:29] koaning opened #34 "feature request: FeatureSmoother/ConstrainedSmoother"
![image](https://user-images.githubusercontent.com/1019791/54533242-003fb380-498a-11e9-8848-9645301faafc.png)

it might be epic if you could smooth out every column in `X` with regards to `y` as a transformer before it goes into a estimator. when looking at the loe(w)ess model this seems to be exactly what i want. not sure if it is super useful tho.

[2019-03-20 06:00] koaning opened #36 "missing documentation: RandomAdder"
Please add basic information for the documentation.

[2019-03-20 06:02] koaning opened #37 "missing documentation: Estimator Transformer"
The `EstimatorTransformer` is complicated enough to add an .rst document for. Might be nice to check if we can automatically test this as well.

[2019-03-20 06:07] koaning opened #38 "documentation on github pages"
locally it seems to run just fine

![image](https://user-images.githubusercontent.com/1019791/54662592-c92ee680-4ade-11e9-860a-d77d238d076f.png)

but github seems to not be rendering it appropriately

[2019-03-20 06:08] #31 closed

[2019-03-20 06:09] #10 closed

[2019-03-20 06:11] koaning opened #39 "feature request: BoosterPipeline"
The idea is to have a pipeline where you might have more than one model in sequention. Model 2 would try to improve on the residuals of Model 1 and so forth.

[2019-03-20 06:13] koaning opened #40 "feature request: pandas.lag_adder"
`LagAdder(colname, lags)` or `LagAdder(idx_col, lags)`

[2019-03-20 06:24] koaning commented on #38
![image](https://user-images.githubusercontent.com/1019791/54663325-22981500-4ae1-11e9-9749-854062974c54.png)

[2019-03-20 06:25] koaning commented on #38
aaaaaaand the problem fixed itself by waiting. "le strange"

[2019-03-20 06:25] #38 closed

[2019-03-20 08:48] dvanamstel commented on #3
DIBS

[2019-03-20 08:50] tsuhina commented on #3
Second that

[2019-03-20 09:00] dvanamstel commented on #8
DIBS if I can't work on #3 because it's already in statsmodels.

[2019-03-20 09:08] sandervandorsten opened #43 "feature request: Column Selector"
Selects columns based on a name. Accepts `Iterable(str)` or `str` (which converts to an iterable of length 1.

[2019-03-20 09:31] syahdeini commented on #6
I don't know how hard is this, but I will dibs this

[2019-03-20 10:34] MaxHalford commented on #39
Not sure this is what you're looking for but I wrote a generic gradient library called [starboost](https://github.com/MaxHalford/starboost) from which you might want to inspire yourself!

[2019-03-20 10:54] ghost opened #45 "feature request: LogStep"
A wrapper class to log a fit/transform/fit_transform of an estimator or a transformer

[2019-03-20 10:55] CorXccelerated opened #46 "feature request: DebugPipeline"
A pipeline that logs extra information before/after every step, which is useful for debugging.

[2019-03-20 10:57] sandervandorsten opened #47 "Bug: Sphinx not installed as dependency for development"
- create `dev` dependencies in `./setup.
- `pip install sphinx`
- `pip install sphinx_rtd_theme`

[2019-03-20 10:57] MaxHalford commented on #46
This is really interesting. What kind of information are you thinking about?

[2019-03-20 10:58] ghost opened #48 "feature request: make_pipeline where DebugPipeline can be passed"
The make_pipeline function uses the (standard) Pipeline of sklearn. Refactor this function such that another pipline, like DebugPipeline, can be passed as prefered pipeline.

[2019-03-20 10:58] sandervandorsten opened #49 "feature request: IndexSelector"
Selects columns from a `pd.DataFrame` or `np.ndarray` based on indices. can be used in a sklearn Pipeline

[2019-03-20 11:01] sandervandorsten commented on #47
also; install doctest and include `doctest` in `make docs`

[2019-03-20 12:35] koaning commented on #47
ill have a small go at this.

[2019-03-20 12:48] koaning commented on #39
The idea here is to implement a pipeline like;

[code]

It's more of a UI thing.

[2019-03-20 12:50] MaxHalford commented on #39
So it is still like some form of stacking? Are you going to reuse the features that the global used, or are you going to base yourself on the predictions?

[2019-03-20 12:53] koaning commented on #39
This is a good question. I might argue that:

1. this could be a setting
2. the base behaviour should probably be that you don't use the predictions from a previous model, rather that you the same features and that you had before (depending on other transformations)

[2019-03-20 12:54] syahdeini commented on #4
I will pick this

[2019-03-20 12:54] sstolle commented on #26
I'd like to pick it up :)

[2019-03-20 13:19] #43 closed

[2019-03-20 14:21] dominiquemaria opened #56 "feature request: pandas log_step"
decorator that logs how a pandas dataframe is modified;
information:
- number of rows
- number of columns
- time taken

[2019-03-20 14:32] Menziess commented on #40
https://github.com/koaning/scikit-lego/pull/57

[2019-03-20 14:35] #47 closed

[2019-03-20 14:59] sandervandorsten opened #59 "Help i hav e a prolbmre"
sdfghjk

[2019-03-20 15:09] koaning commented on #59
@sandervandorsten closing the issue.

[2019-03-20 15:09] #59 closed

[2019-03-20 15:11] koaning opened #60 "[FEATURE] PandasPipeTransformer"
It might be cool to have things that are a "lambda" in pandas like this:

[code]

to be applied used in a pipeline.

[2019-03-20 15:29] #49 closed

[2019-03-20 15:41] kayhoogland commented on #5
https://github.com/koaning/scikit-lego/pull/61

[2019-03-20 16:21] koaning commented on #46
It should be implemented today.

[2019-03-20 21:49] koaning commented on #40
After discussion -> this will never work in an SKLearn transformer. Made into a mere function instead.

[2019-03-20 21:56] #12 closed

[2019-03-20 21:56] koaning commented on #25
i believe this got merged into sklearn recently. might need to confirm this.

[2019-03-20 21:56] #25 closed

[2019-03-20 21:57] koaning commented on #17
I think we agree this can't be done. Close issue?

[2019-03-21 08:42] CorXccelerated commented on #46
The pipeline is on my fork: https://github.com/CorXccelerated/scikit-lego/tree/debug_pipeline. See the notebook for example usage: https://github.com/CorXccelerated/scikit-lego/blob/debug_pipeline/notebooks/debug_pipeline.ipynb

I will file a merge request after the pipeline is tested.

[2019-03-21 09:19] koaning commented on #46
Lookin' good!

[2019-03-21 09:41] CorXccelerated commented on #46
Thank you.

I choose to name this pipeline also `Pipeline` . The intention is that it should be easy to replace `from sklearn.pipeline import Pipeline` with `from sklego.pipeline import Pipeline`, and everything should work as is. And now there is the option to add logging with the `log_callback`.

It is up for debate if more clarity is needed enforced by calling this pipeline `DebugPipeline`, but

[2019-03-21 09:44] CorXccelerated opened #64 "[FEATURE] DebugFeatureUnion"
Similar as #46, but here for the FeatureUnion.

Description:
Have a log statement inbetween the steps of a feature union.

[2019-03-21 10:33] koaning commented on #46
If you can make a pull request then we can start reviewing. I should mention though that I think I prefer `DebugPipeline`. @MBrouns ?

[2019-03-21 10:41] MBrouns commented on #46
There is always the option of `from sklego.pipeline import DebugPipeline as Pipeline` or `from sklego.pipeline import Pipeline as DebugPipeline` so users will always have a choice to do either way

In [imbalanced-learn](https://imbalanced-learn.org/en/stable/auto_examples/pipeline/plot_pipeline_classification.html#sphx-glr-auto-examples-pipeline-plot-pipeline-classification-py) they use `from imbl

[2019-03-21 11:49] CorXccelerated commented on #46
`make_pipeline` would be a seperate feature request.

On the same note people could also do `sklego.pipeline import Pipeline as DebugPipeline`.

But I agree with Vincents philosphy that this project is inteded to extent sklearn, not replace.

[2019-03-21 12:42] MBrouns commented on #46
Agreed, it was mainly to show that imbalanced-learn just overwrites the name

[2019-03-21 12:56] CorXccelerated commented on #46
@koaning If we prefer to not overwrite the `sklearn` names. Do we also want a:

- `DebugFeatureUnion`?
- `make_debug_pipeline`?

I still prefer to keep the sklearn names, because I think it allows for easier use.

[2019-03-21 17:11] koaning commented on #46
I like the names that you've supplied. In general though: replacing sklearn names is something that not only doesn't fit the idea behind the package but more-over it can be a cause of confusion.

[code]

It will take some getting used to though; I definitely agree. But this is something that we might expect . from the user. It is an additional tool, so it is fine that we demand the user spend a li

[2019-03-21 17:17] koaning commented on #4
what is the status of this work? is there a pull request? if not; this is fine but let me know. there may be others who would like to have a go at this model.

[2019-03-21 22:48] koaning commented on #13
something tells me that this will be *really* hard to implement if you consider the train/test aspect of it. ill close this issue for now (but feel free to challenge me on this)

[2019-03-21 22:48] #13 closed

[2019-03-22 08:22] CorXccelerated commented on #48
Decided to call it `make_debug_pipeline`.

[2019-03-22 10:57] #56 closed

[2019-03-22 14:11] CorXccelerated commented on #64
#65 solves this already, as show in the tests.

[2019-03-22 14:11] #64 closed

[2019-03-22 16:47] stephanecollot opened #66 "[FEATURE] Feature capping"
Use case:

In ML some time your features have extreme large values or even infinite value (np.inf), we want to cap those values with a feature transformer.

Parameters:
- feature to cap (and/or feature to no cap?)
- min value
- max value

[2019-03-22 16:50] stephanecollot opened #67 "[FEATURE] Statsmodels wrapper class"
If you want to use statsmodels for example for regression in a sklearn pipeline

Example
[code]

[2019-03-22 16:53] stephanecollot opened #68 "[FEATURE] Feature selector by name"
When you use pandas, you want quickly specify which features to keep and/or which one you want to drop.

Example
[code]

[2019-03-22 16:56] syahdeini commented on #4
#69 review is needed

[2019-03-22 16:59] stephanecollot opened #70 "[FEATURE] Time Series Split with gap and column parameter"
Time Series Split with a gap parameter between train and testing

Between the blue and the red we want to have a gap, to simulate that in production you need to wait x days before creating your target that looks x days ahead (e.g. case when you want to predict value in x days).
![image](https://user-images.githubusercontent.com/1184396/54839664-aa417780-4ccb-11e9-9d85-cb11f48d523a.png)

Also somet

[2019-03-22 23:34] koaning commented on #70
I wonder. Is this something that is fixed on a label level or is this something that is fixed on a cross validation level.

[2019-03-22 23:37] koaning commented on #68
It sounds like this is the same as the feature we have [here](https://github.com/koaning/scikit-lego/blob/master/sklego/preprocessing.py#L56) except that currently we can only select columns and we cannot exclude them. It seems fair to add that to the existing class but I don't think we need a new one.

[2019-03-22 23:42] koaning commented on #66
I like the sound of this transformer. It sounds simple enough too.

1. I wonder about features not to cap though. Probably only a few columns need tweaking. This is my guess.
2. Instead of setting a min/max level per column, might it make sense to cap everything at a certain quantile (this is something that you might more easily do against all columns).

[2019-03-23 08:23] koaning commented on #67
I am open to this idea but I'd like to discuss the use-case a bit.

What is the main feature that statsmodels might bring that scikit lego currently does not offer? To me it mainly seems that feature selection is something that could occur more automatically in a linear regression but besides that I am wondering what the use-case really is.

What problems would you be able to solve with this appro

[2019-03-23 08:26] koaning commented on #46
I've merged the branch.

[2019-03-23 08:26] #46 closed

[2019-03-23 08:42] koaning opened #71 "[DOCS] add guide for sklego.pipeline.DebugPipeline"
Not every user will appreciate python logging so it might make sense to have a document in the documentation that gives an example of how a `DebugPipeline` might allow you to discover a bug.

[2019-03-23 08:44] koaning opened #72 "[BUG] 433 warnings in CI"
After the unit tests have run we get about 433 warnings. Let's investigate this.

[2019-03-23 09:05] koaning opened #73 "[DOCS] pandas log step documentation is missing, needs example"
![image](https://user-images.githubusercontent.com/1019791/54864144-04d1e680-4d53-11e9-8e64-9704feaaa882.png)

it is probably a good idea to link to the blogpost that inspired the feature too: https://tomaugspurger.github.io/method-chaining

[2019-03-23 09:06] koaning opened #74 "[DOCS] debug pipeline has rendering issues"
![image](https://user-images.githubusercontent.com/1019791/54864157-42367400-4d53-11e9-9ca4-30532b5f78ee.png)

[2019-03-23 09:15] koaning commented on #72
reduced it to 30-ish. all warnings are now external.

[2019-03-23 09:15] #72 closed

[2019-03-23 09:44] koaning commented on #74
This is also confirmed by running:

[code]

It **might** be possible that I merged a tad bit early there. @MBrouns @CorXccelerated

[2019-03-23 09:45] koaning opened #76 "add doctest in ci pipeline"
[code]

[2019-03-23 16:19] koaning commented on #3
[code]

![image](https://user-images.githubusercontent.com/1019791/54868719-dde5d580-4d8f-11e9-9020-8b60924940ef.png)

[2019-03-23 16:20] koaning commented on #3
[code]

![image](https://user-images.githubusercontent.com/1019791/54868725-eccc8800-4d8f-11e9-9362-ccf11d48c718.png)

[2019-03-23 16:20] koaning commented on #3
[code]

![image](https://user-images.githubusercontent.com/1019791/54868727-f48c2c80-4d8f-11e9-9ee9-7d560ccd057d.png)

[2019-03-23 16:23] koaning opened #77 "[FEATURE] patsy feature selection"
patsy is sweet this can be a great transformer to get pandas into sklearn.

[2019-03-23 16:29] koaning commented on #3
http://web.ipac.caltech.edu/staff/fmasci/home/astro_refs/LocalRegressionBook_1999.pdf

[2019-03-23 21:16] dvanamstel commented on #3
Nice book, thanks!

I expect to have a few hours next week to finish up what we started.

[2019-03-25 20:29] koaning opened #79 "[FEATURE] chickweight dataset"
it is the best for education, methinks.

[2019-03-26 16:50] koaning opened #80 "[FEATURE] orthogonal projections"
a feature transformer that makes all features linearly independant of eachother. gram-schmidt process.

[2019-03-26 19:25] MBrouns commented on #17
So I got asked a similar type of thing in todays training where someone wanted to drop rows with too many missing values from train but not from test so I was toying around to see if I could find something that would work.

I might have figured out a way but I'm not sure I like it all that much:

[code]

I basically store a hash of the train dataframe and compare `X` with it in `transform` and the

[2019-03-27 06:37] koaning commented on #17
My first thought: **WE NEED TO BE CAREFUL** there's methods that might do a partial fit and then this would totally break.

My second thought: this could work though.

[2019-03-27 07:20] MBrouns commented on #17
1. Pipelines don't implement `partial_fit` so that shouldn't be a problem i think

2. 😄

3. So far I've come up with the following use cases:
    a. dropping rows with many missing values from train but not from test
    b. adding noise to train but not to test
    c. removing outliers from training data

4. As is no, but it is possible to calculate a hash on a numpy array afaik

5. Agreed, probab

[2019-03-27 09:24] CorXccelerated commented on #74
Solved in the merge request #78

[2019-03-27 10:55] CorXccelerated commented on #71
Real life idea, I just got from Kay who had an error in his Pipeline. @kayhoogland: Can you add what I am missing here?

During modelling the rows where dropped if a specific column had None/null values. This (by accident) also happens when predicting, meaning that an error was thrown because the input into predict had a different number of rows then the output, while these should match. With a (s

[2019-03-28 09:31] MBrouns commented on #17
#81

[2019-03-28 13:56] tomderuijter opened #82 "[Question] Pull request for scikit-learn"
Hi, love the idea. Are you planning on submitting (parts of) this work as a pull request to scikit-learn as well? If so, which ones?

[2019-03-28 20:55] koaning commented on #34
there might even be an opportunity to make it monotonic

![image](https://user-images.githubusercontent.com/1019791/55192132-1af10400-51a4-11e9-899f-a10ba63d46ae.png)

[2019-03-28 20:58] koaning opened #83 "[FEATURE] Monotonic Regression"
The idea is that if you can specify per variable if the variable needs to be monotonically increasing or decreasing that you might be able to regularize the model a bit better.

And ... when you think about what 'yer optimising then you merely need a [quadratic solver](https://cvxopt.org/examples/tutorial/qp.html). This might be super sweet.

[2019-03-28 20:58] koaning commented on #83
And when you combine this with a feature smoother then you get a pretty interpretable system.

[2019-03-29 07:26] koaning commented on #82
This is more up to the people over at sklearn to decide. I've not reached out to them yet and I think it might be wise to have people try out new things here first.

SKlearn is a serious project with *many* people depending on it. The hope of this project (besides being a teaching outlet for me personally) is to explore what sklearn pipelines can do by allowing for more experimentation. It seems v

[2019-03-29 11:20] koaning commented on #82
Oh and also, this is still relevant to mention: https://pydata.org/amsterdam2019/cfp/. Sponsorships and CFPs are still welcome.

[2019-03-29 11:43] #30 closed

[2019-03-29 13:31] #17 closed

[2019-03-29 17:14] koaning opened #88 "[DOCS] fix it"
read the docs could be clearer but it seems to be the least painful way to deploy documentation from github.

it seems like the sphinx apidoc is not running automatically...

[2019-03-30 09:28] koaning commented on #88
it seems to work now.... will keep testing it.

[2019-03-31 10:58] #88 closed

[2019-04-01 15:16] stephanecollot commented on #70
Nop this cannot be solved with modification of the label. The gap is a simulation of the fact that in production you are dropping the last forward looking window available.

[2019-04-03 06:51] koaning opened #99 "[FEATURE] add log_dtypes to pandas_utils"
I might also want to log the `dtypes` between each step in a pandas pipeline. It's probably best to add a separate logger for both the `dtype` as well as the shape.

Should the column names be seperate too? Maybe worth a discussion.

It would also be nice if these features were documented on the documentation page together with some other `pandas_utils` functions.

[2019-04-03 06:54] #40 closed

[2019-04-03 06:56] koaning commented on #82
Since no more messages were posted here I'll close the discussion.

[2019-04-03 06:56] #82 closed

[2019-04-03 07:17] koaning commented on #99
After thinking about it, we probably want to have these three:

- log_shape
- log_names
- log_dtypes

Note too sure about `log_names` and `log_dtypes`.

[2019-04-03 19:46] #27 closed

[2019-04-03 19:46] #9 closed

[2019-04-06 06:25] koaning commented on #77
see their [quickstart](https://patsy.readthedocs.io/en/latest/quickstart.html)

A user interface might be:

[code]

If a left hand side of the formula is given it should be ignored since this is technically handled by `.fit(X, y)` but everything else could be used to select columns.

[2019-04-06 10:01] koaning commented on #77
I'm picking this up this weekend.

[2019-04-06 12:40] koaning commented on #39
I am wondering if this feature might break up the workflow too much. Instead it might also work if we just have a `Booster`-model that accepts many different models.

[2019-04-06 12:56] MBrouns commented on #39
I tried to build something like this quite a while back and remember it took a lot of changes in the normal pipeline behaviour. A `Booster` meta-model might be simpler

[2019-04-10 09:54] koaning opened #106 "[FEATURE] import this"
We're bound to learn lessons that can be combined into a "Zen of Scikit-Lego". Just like projects like sympy and evol we might want to add our own. If there are general zen lessons learned while making this tool: let's up 'em here. Some day in the future somebody might gain enlightenment by typing.

[code]

[2019-04-11 14:46] MaxHalford commented on #20
@koaning when are the speakers for PyData Amsterdam annouced? I have to book a plane ticket early if I come.

[2019-04-11 15:08] MBrouns commented on #20
@MaxHalford tomorrow, but you're in! We're looking forward to seeing your talk!

[2019-04-11 15:10] MaxHalford commented on #20
Cheers @MBrouns, I'm really excited! I'll book my ticket ASAP :)

[2019-04-21 07:11] koaning opened #111 "[FEATURE] CustomModelEstimator"
The [scipy docs](https://docs.scipy.org/doc/scipy/reference/tutorial/optimize.html#example-of-solving-a-fitting-problem) inspired me.

We might want to be able to model a regression according to a custom formulae, like:

![image](https://user-images.githubusercontent.com/1019791/56466687-2affaa80-6415-11e9-9db9-f7637073a204.png)

This function can be given some data to fit a curve like this:

![im

[2019-04-21 07:16] #77 closed

[2019-04-23 13:55] koaning commented on #79
https://github.com/koaning/scikit-lego/pull/110

[2019-04-23 13:55] #79 closed

[2019-04-23 14:00] koaning opened #114 "[FEATURE] Add "shrinkage" to GroupEstimator"
it's a pydata talk right there.

maybe we need a dataset for this.

[2019-04-23 14:04] koaning commented on #6
@MBrouns there is a difference between umap and TSNe ;)

[2019-04-23 14:06] koaning commented on #111
The chickweight example might just prevail here as well.

[2019-04-23 17:36] #76 closed

[2019-04-23 17:37] koaning commented on #106
if you don't know the requirements you don't know if they're met,
if you haven't gotten to where you're going, you aren't there yet.

[2019-04-24 13:19] arthurpaulino commented on #66
Capping can be a dangerous move for `np.inf` cells. `pandas` dataframes interprets divisions by 0 as `np.inf` or `-np.inf`, depending on the signal of the numerator:
[code]
When, in fact, divisions by 0 make no sense and could very much be either `np.inf` or `-np.inf` or anything else (undetermined).

Such ±inf cells are common results of feature engineering processes (e.g.: dividing the loan amou

[2019-04-24 13:26] koaning commented on #66
The idea here (and feel free to discuss it) is to allow the user to tell the model "you know what ... for my model, if you're older than 70 ... you might as well be 70". the idea here being that depending on the spread in the dataset this might reduce it. The user needs to have a good reason to do so but this is therefore also the users responsibility.

It might make sense that the "cap" can also

[2019-04-24 13:27] koaning commented on #66
Note that such a transformer needs to work on a pandas dataframe as well as the numpy array.

[2019-04-24 13:56] arthurpaulino commented on #66
Interesting idea. What if the user had a way to ask the model about the impact of capping beforehand? Or even better, a capping report, so to speak, which would help the user to choose safe capping thresholds.

This idea of "asking the model beforehand" opens space for a lot of interesting features that I don't see on other libs. But I'll stick to the capping idea on this issue.

About ignoring `n

[2019-04-24 18:35] koaning commented on #66
Want to have a go at an implementation?

Note that there are some tricks. If you remove all the `NaNs` and `Infs` and `Na` and junk ... then you might say cap everything beyond the 5th/95th quantile. One might consider doing all of this before passing it along to a `StandardScaler`. This ColumnCapper could then take all `inf` values and cast them to the 95th percentile and `-ing` to the 5th.

[2019-04-24 20:39] arthurpaulino commented on #66
Sure, you just gave me some interesting insights.

[2019-04-25 16:09] arthurpaulino opened #120 "[BUG] pandas 0.23.4 is not enough for development"
### Bug description

I had written an example inside a docstring and I pasted the output to the docstring after copying if from my terminal. After that, calling `$ make doctest` passed on my local machine with pandas 0.23.4.

The problem is that Travis CI seems to use a newer version of pandas, which is not explicit on the `setup.py` file. It was printing dataframes with a different float format t

[2019-04-26 06:34] koaning commented on #106
you cannot understand a problem by avoiding it,
but sometimes the problems go away if you ignore them.

[2019-04-26 06:36] koaning commented on #106
you can add lot's of features and consider every extension,
but the path towards ruin is paved with good intensions.

[2019-04-26 06:52] koaning opened #121 "[FEATURE] OutlierRemover Transformer"
Since we're going to be having multiple outlier removal models we might want to make a special type of transformer that will remove outliers from a pipeline.

[code]

## Base Behavior

The `OutlierRemoval` will filter out any row where the model passed to the `OutlierRemoval` transformer does not return 0. This allows for a pre-trained model to be applied but it also allows for a outlier-detector

[2019-04-26 10:36] arthurpaulino commented on #106
[the unknown may be ignored,
but infinity is ever present.](https://github.com/koaning/scikit-lego/pull/119#discussion_r278881928)

[2019-04-26 14:45] MBrouns commented on #120
Hm that's an annoying bug to find indeed. I'm not sure we want to be more restrictive on the requirements in our `setup.py` though because that will make installing the package all the more difficult for end users and possibly result in version conflicts.

I think the way to go here would be to make a (test-)requirements.txt next to our `setup.py` which will have the specific versions of the packa

[2019-04-26 15:07] arthurpaulino commented on #120
What if [`dev_packages`](https://github.com/koaning/scikit-lego/blob/master/setup.py#L8) had an additional item `"pandas>=0.24.2"`? As in:

[code]

But **I'm not sure** about all the consequences of this choice.

[2019-04-26 18:13] koaning commented on #121
This would be something we'd only want to have work on train only.

[2019-04-29 16:09] arthurpaulino opened #127 "[BUG] Problems with make docs"
Calling `$ make docs` executes:

[code]

But `sphinx-apidoc` is undoing what has been done [here](https://github.com/koaning/scikit-lego/pull/125#issue-274203155):

I think it's possible to have more control over what `sphinx-apidoc` does, but I'm not really sure. I've tried messing with an `__all__` variable (list) in `sklego/__init__.py` but I had no success.

[2019-04-30 06:37] koaning commented on #127
yeah this was on my mental todo list. good to have on an actual issue list :)

[2019-04-30 11:18] arthurpaulino commented on #127
I do think it has something to do with the `__all__` variable though, as if we would allow sphinx to document what each module exports, only...

[2019-05-08 23:52] arthurpaulino opened #130 "[FEATURE] OLSEnsembler"
This feature is somewhat similar to https://github.com/koaning/scikit-lego/issues/23, but it can work for regressors as well. I'll explain it using a top-down approach.

First, the constructor's signature:

[code]

But let's suppose we're in a regression context and we're going to use `method='predict'`, instead because it's easier to explain with regressions.

So, we call:

[code]

The goal of `f

[2019-05-09 06:43] koaning commented on #130
From the bayesian perspective there's another way of doing this that *might* be better. I certainly think there's a good direction you're pointing in but we should discuss some details.

Just so I understand, the goal is to have a set of estimators going into the ensemble that will be trained? If so, why not "take an intelligent average" of all these trained estimators?

[2019-05-09 06:49] koaning commented on #130
My thoughts in this area is that you probably want to incorporate the accuracy of each model when making a prediction. Suppose you have three models, some of them more accurate than others, each making a prediction.

![image](https://user-images.githubusercontent.com/1019791/57432790-16098080-7237-11e9-92c2-f222c4d3c580.png)

These three models can be trained independently but if we know the typic

[2019-05-09 06:54] koaning opened #131 "[FEATURE] print_step"
I'd like there to be a `print_step` variant as well of the `log_step` function we have in `pandas_utils`. If you're just debugging in a notebook there's no need for a logger but I'd still want to have the logger around for the "production" step.

[2019-05-09 06:57] koaning opened #132 "[FEATURE] Thresholder"
This is a meta model that can take a classifier but is "more strict" when it comes to picking a class. Usually in binary classification the cut-off point for a class is 0.5 but I can imagine that sometimes you'd like the model to be more strict like move the cut-off to 0.7.

I'm wondering if we want this object to be able to handle multiple classes but something like this might be sweet.

[2019-05-09 07:01] koaning opened #133 "[FEATURE] Meta Model Discussion"
At some point in time we're bound to have:

- DecayAdder
- ThresholdCutter

and before you know it, a model in a pipeline might start to look like this:

[code]

This is hard to read at some point.

We could make a `ModelPipeline` to make declaration a bit nicer. Something like:

[code]

Ah, class is starting. Will return later for more details.

[2019-05-09 13:58] arthurpaulino commented on #130
Yes, it is, I think. Unfortunately, I'm not used to the bayesian way of thinking. But I'll explain my idea in more details.

The ideal scenario would be a linear combination of the predictions that matches the expected `y` target. A linear combination is **very unlikely** to overfit in this case. Suppose we have *n* estimators and y has length *m*:

![image](https://user-images.githubusercontent.c

[2019-05-09 20:40] koaning commented on #130
Ah. Now I see what you mean. I like the idea ... I wonder though. It feels like the list of estimators that produce a prediction can be reweighed by a `LinearRegression` ... which is good base behavior ... but why not allow the user to supply the model that does the reweighing?

[2019-05-09 22:36] arthurpaulino commented on #130
Oh that's even better. It looks like sklearn's [RFE][rfe] or [RFECV][rfecv].

[rfe]: https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html
[rfecv]: https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFECV.html

[2019-05-10 09:39] koaning commented on #130
Let's discuss this some more ... it's an interesting idea but ...

... why not make a classifier that selects the best predictor? Or reweight all the models? If you have an estimator that can "detect" which of the input models performs best on certain regions ... that might be incredibly useful.

[2019-05-10 13:36] arthurpaulino commented on #130
That's an interesting approach, but it has a very different mechanic to it. Maybe we have enough material for two separate ensemblers?

I have some questions about that approach:

* How can you define what a good region is? If the user is trying to maximize AUCROC, using residuals to characterize the quality of a region may not work. For instance:

[code]
    According to the AUCROC, `out1` is bet

[2019-05-10 17:30] koaning commented on #130
There's an interesting thing here in terms of ... is the regression doing **interpolation** (in which case my gut says that the classification might work well) or is it doing **extrapolation** (in which case my gut thinks regression might work better as an ensemble).

it's pydata amsterdam right now, so i might comment a bit more later :)

[2019-05-10 17:31] koaning commented on #130
one thing to consider ... can we come up with *an actual example* that is solved with the approaches discussed here?

[2019-05-11 00:11] arthurpaulino commented on #130
Great idea!

[code]

Output:

[code]

[2019-05-11 00:41] arthurpaulino commented on #130
Great idea. Let's test it out first!

[code]

Output:

[code]

Ehhh... Not as interesting as I thought? Maybe I used models that were too similar? Maybe I shouldn't have used all features like that? I don't know! But now we have a code to play with!

[2019-05-14 20:33] #83 closed

[2019-05-14 21:02] koaning commented on #32
https://github.com/koaning/scikit-lego/pull/135

[2019-05-15 08:21] koaning opened #136 "[DOCS] broken github url"
The URL to github seems broken.

![image](https://user-images.githubusercontent.com/1019791/57760010-23bd7b00-76fb-11e9-99c6-8ecb7a55b862.png)

[2019-05-15 08:21] koaning commented on #136
![image](https://user-images.githubusercontent.com/1019791/57760044-36d04b00-76fb-11e9-8e91-38e0fb948be3.png)

[2019-05-19 17:54] koaning opened #137 "[BUG] EstimatorTransformer does not play nice with FeatureUnion"
@MBrouns I was working on documentation when I noticed something strange.

[code]

I would've expected the shape to be (1000, 2). Even when I emphasise with a pipeline in the feature union the problem persists.

[code]

This does show what I expect;

[code]

I'll try to investigate a bit as well but figured I'd log it at least.

[2019-05-20 06:49] #66 closed

[2019-05-20 06:49] #68 closed

[2019-05-20 06:50] koaning commented on #132
At least for two dimensions it should be a pretty sweet feature.

[2019-05-21 19:40] #137 closed

[2019-05-23 11:26] MaxHalford opened #142 "[FEATURE] Skyline queries"
Skyline queries are queries that find a subset of points that dominate the rest of the points but not the other members of the skyline. I wrote a [blog post](https://maxhalford.github.io/blog/skyline-queries-in-python/) on them. I also asked the `pandas` devs if this was in their scope but they said no. If this is something of interest to you I will gladly submit a pull request.

I'll describe ano

[2019-05-23 17:13] koaning commented on #142
I'm actually kind of down with this idea. I am wondering though what part of the API it might fit in. It feels not unlike a monotonic regression except that we do not optimise for mean squared error but for furthers bound.

There are many ways of interpolating this bound though; that's probably good to keep in mind.

I would totally love to have this around, but I am wondering how to "score" this.

[2019-05-23 19:01] MaxHalford commented on #142
I'm pretty sure this should be a `pandas_util` function. It's not a transformer.

[2019-05-23 20:27] MBrouns commented on #142
I'm a bit conflicted. On the one side I do like the functionality and could only find [pygmo](https://esa.github.io/pagmo2/docs/python/utils/py_mo_utils.html) with a reasonable implementation for this (also, I didn't know it but that library actually seems rather interesting). The other side though is that it is rather unrelated to the rest of the project and I'm not sure how much of a problem tha

[2019-05-24 08:57] koaning commented on #142
I like the idea of `Estimator`.

I can imagine `Skyline().fit(X, y=None)` to learn where the current boundary is and `Skyline().fit(X, y=None).predict(X)` to tell you which points are `y=1` and which points aren't `y=0` on the efficient boundary. If a new dataset `X_new` is presented `Skyline().fit(X, y=None).predict(X_new)`it could do the same.

One might even go as far as thinking about an inter

[2019-05-24 09:15] MaxHalford commented on #142
Yeah I think `Estimator` is a good idea. Not so sure about `predict_proba` but maybe `decision_function` is a good idea.

[2019-05-24 10:15] MBrouns commented on #142
`LogisticRegression` has a `decision_function` which makes sense indeed

[2019-05-26 14:25] koaning commented on #32
got merged.

[2019-05-26 14:25] #32 closed

[2019-05-28 14:43] koaning opened #144 "[FEATURE] grid search plots"
It's not unusual to have lots of statistics in your cv gridsearch results.

![image](https://user-images.githubusercontent.com/1019791/58487187-78371080-8167-11e9-846e-f3160dece728.png)

This is fine, but maybe it is good to plot these.

There's two ways.

## Option One

just use the mean/std value to visualise what is going on.

![image](https://user-images.githubusercontent.com/1019791/58487278-

[2019-05-31 08:04] koaning opened #145 "[DOCS] jupyter sphinx"
https://blog.jupyter.org/integrating-output-in-documentation-with-jupyter-sphinx-ecf569ddab85

[2019-05-31 08:05] koaning commented on #145
Extra benefit. This would allow us to unit test the notebooks via `nbval` and this would make it a lot nicer to write great documentation!

[2019-06-08 06:59] koaning opened #149 "[FEATURE] WordList Feature Maker"
During class last Friday we wanted to make a simple benchmark. Not just use `CountVectorizer` but build a simple transformer that just selects positive/negative words.

We ended up with something like;

[code]

We could build something similar, that you can give a list of lists of words and that we will . simply count how often these words appear. For benchmarking this might not be a bad idea.

[2019-06-10 15:50] koaning commented on #149
@MBrouns thoughts?

[2019-06-10 15:51] koaning commented on #132
It might make sense here to make a `WontPredictMixin` for this since we probably also want to have a similar behavior once we detect outliers. See [this argument](http://koaning.io/posts/high-on-probability-low-on-certainty/).

[2019-06-11 08:46] MBrouns commented on #149
I think it can be nice to have something like this but how does this compare to using a `CountVectorizer` and then only selecting the columns of the good and bad words?

[2019-06-13 14:44] #80 closed

[2019-06-19 11:46] koaning commented on #106
https://github.com/koaning/scikit-lego/pull/153

[2019-06-20 20:54] #132 closed

[2019-06-20 20:54] #131 closed

[2019-06-20 20:55] #39 closed

[2019-06-20 20:58] koaning commented on #34
Here's a bit of [demo](https://colab.research.google.com/drive/1C_7o3Z-JMJDbMDoz-KDjrKyhFvXGt5Xh) where I am able to generate: up, down, convex and concave shapes. The calculation is expensive but might be helped by using the k-means undersampling trick.

[2019-06-20 20:59] #37 closed

[2019-06-21 19:53] koaning opened #157 "[FEATURE] ColumnDropper"
It might be easier to sometimes explain what you *don't* want.

[2019-06-27 09:23] koaning opened #158 "[BUG] Grouped Estimator does not accept string values in group."
Fix please it is breaking code at a supermarket.

[code]

Probably the grouped column needs to be removed from the internal `check_array` checker.

[2019-06-28 17:58] #121 closed

[2019-06-28 18:08] #4 closed

[2019-06-28 18:08] #8 closed

[2019-07-01 08:58] koaning commented on #127
We are considering replacing some of the .rst documents here with jupyter notebooks. This allows us to more easily test the documentation via `nbval` and (let's be honest) markdown is easier learned than rst.

[2019-07-01 11:43] arthurpaulino commented on #127
It looks great. Can it generate modules/classes docs automatically? It's new to me.

[2019-07-01 13:22] koaning commented on #127
Ah no. But I think there's two parts we want to for the documentation.

1. There's the detail guide. The part of the docs that shows you all the settings that are possible.
2. But perhaps more importantly there's the "how do I use it" part. This would the an example that demonstrates how that it is being used and is more of a "getting started" bit.

It is **the second part** bit that I'd want to d

[2019-07-03 08:43] pim-hoeven commented on #158
Please see proposed solution in PR #159

[2019-07-03 20:05] koaning opened #160 "[BUG] kmeanfold does xpass?"
@kayhoogland @MBrouns did you folks also see this in your test results?

[code]

[2019-07-03 20:06] koaning commented on #160
at the end it seems to `xpass`? any idea what that is?

[code]

[2019-07-03 21:41] kayhoogland commented on #160
The xpass is the last test in test_klusterfold. For cluster methods that predict one cluster it should raise a ValueError.

[2019-07-04 08:18] kayhoogland commented on #160
They should actually be xfail. See my new pull request: https://github.com/koaning/scikit-lego/pull/161

[2019-07-04 08:21] MBrouns commented on #160
I didn't look at the detailed test report, only checked whether the CI was green. I'm a bit surprised that an xpass actually results in the test suite as a whole passing. It might be preferable to use `with pytest.raises(ValueError):` instead in that case.

[2019-07-04 08:25] MBrouns commented on #160
The other option would be to add `strict=True` to the xfail decorator

[2019-07-04 08:37] koaning commented on #160
I prefer `with pytest.raises(ValueError):` mainly because it is consistent with the rest of the API.

Also, I know that I am not the most senior pytest user. But I never heard of `xpass` before today. I can imagine introducing it can be very confusing for other users.

[2019-07-04 09:56] kayhoogland commented on #160
I agree. See my updated pull request.

[2019-07-05 13:23] #160 closed

[2019-07-08 19:23] akhmerov commented on #145
As of today, you can also turn thebelab (live code execution) with minimal extra config.

[2019-07-11 06:30] koaning opened #163 "[BUG] p-percent divide by zero warnings."
There's a lot of warnings when I use the p-percent score in a grid search with the fair classifier.

![image](https://user-images.githubusercontent.com/1019791/61027244-f79a3f80-a3b5-11e9-87c9-d97a1d8ab428.png)

I think the warning is good, but seeing a kilometer of red that you gotta scroll through in a notebook is less ideal and might frighten people who are new. Can we maybe apply some smoothin

[2019-07-11 06:32] koaning commented on #145
Docs work now. The "thebelab" sounds like a neat idea, but I prefer to not introduce anything new to the docs for now. Writing more proper content might be a better idea.

[2019-07-11 06:32] #145 closed

[2019-07-11 09:09] akhmerov commented on #145
BTW, you're using `nbsphinx` (https://github.com/spatialaudio/nbsphinx) which includes .ipynb in docs, not `jupyter-sphinx` (http://github.com/jupyter/jupyter-sphinx/) which evaluates code from .rst and includes the output.

[2019-07-16 10:22] koaning opened #165 "[DOCS] fairness docs: explain what z is"
![image](https://user-images.githubusercontent.com/1019791/61286983-4ab03000-a7c4-11e9-8b7f-815459413644.png)

The docs currently do not explain what `z` means in the formula.

[2019-07-16 10:29] koaning commented on #5
wasn't this merged?

[2019-07-16 10:45] kayhoogland commented on #5
I think I reopened because of the bug in the tests. Can be closed now.

[2019-07-16 10:45] #5 closed

[2019-07-25 09:22] #158 closed

[2019-07-26 08:56] #157 closed

[2019-07-26 09:06] koaning commented on #67
If the viewing of variables is the issue, this might be better solved by writing a metrics function that gives an overview of a regression.

[2019-08-24 18:28] #29 closed

[2019-08-24 18:29] koaning commented on #71
I've moved the notebook to sphinx last friday. Will close this for now. Feel free to make changes to the notebook for extra clarity though.

[2019-08-24 18:29] #71 closed

[2019-08-24 18:29] #6 closed

[2019-08-24 18:30] koaning commented on #20
This feature has now been implemented. Documentation will follow.

[2019-08-24 18:30] #20 closed

[2019-08-24 18:32] koaning commented on #149
yeah. it feels allmost too basic to add to this library. will close issue.

[2019-08-24 18:32] #149 closed

[2019-08-24 18:34] koaning commented on #111
Too specific. PyMC3 seems like a better use-case for this. It doesn't really fit sklearn too well. Better to make your own estimator in this case.

[2019-08-24 18:34] #111 closed

[2019-08-25 12:31] koaning commented on #3
It seems to be in statsmodels. Maybe it is not a right fit.

[2019-08-25 12:31] #3 closed

[2019-08-28 13:09] kayhoogland opened #184 "[DOCS] Include example for p_percent_score metric"
The metrics page is not in the documentation yet and the usage of p_percent_score is confusing from reading the docstring alone since it talks about X but X is actually not a parameter of the function. For example this would do:

[code]

[2019-08-28 15:44] kayhoogland commented on #163
https://github.com/koaning/scikit-lego/pull/185#pullrequestreview-280886896

[2019-09-08 19:35] koaning opened #187 "[DOCS] duplicate images in docs"
We now have an issue that is similar to [this](https://github.com/spatialaudio/nbsphinx/issues/162) one. Certain images get overwritten. From console;

[code]

[2019-09-08 19:39] koaning commented on #187
Found a solution [here](https://github.com/spatialaudio/nbsphinx/issues/162#issuecomment-360977244). You need to add the `alt` text in the img then it works fine. Seems to be a pandoc thing.

[2019-09-08 19:42] koaning commented on #187
# Old Situation

![image](https://user-images.githubusercontent.com/1019791/64493530-7c53ed80-d281-11e9-9eeb-59ed7cebd25c.png)

![image](https://user-images.githubusercontent.com/1019791/64493529-7827d000-d281-11e9-8327-e28166510fbb.png)

[2019-09-08 19:43] koaning commented on #187
# New Sitaution

![image](https://user-images.githubusercontent.com/1019791/64493542-98578f00-d281-11e9-9514-7887606f8848.png)

![image](https://user-images.githubusercontent.com/1019791/64493543-9db4d980-d281-11e9-98a4-0787ea53602b.png)

will make a PR

[2019-09-19 07:00] koaning opened #189 "[DOCS] feature union should be part of debugpipeline"
feature union should be part of debugpipeline

![image](https://user-images.githubusercontent.com/1019791/65220824-ea878400-dabb-11e9-8e62-06db42df8ede.png)

[2019-09-19 07:00] #187 closed

[2019-09-19 07:27] rubenvdg opened #190 "[FEATURE] Add support for monthly and yearly data in TimeGapSplit"
First of all: `TimeGapSplit` is a super useful feature!

Unfortunately, if I'm not mistaken, `TimeGapSplit` currently does not support monthly or yearly data. This follows from the design choice to use `timedelta` to construct the train and validation sets (`timedelta` does not support months or years). For example:

[code]

raises `TypeError: 'months' is an invalid keyword argument for __new__()`

[2019-09-19 07:35] rubenvdg opened #191 "[BUG] TimeGapSplit mutates the data"
`TimeGapSplit` mutates the `pandas.DataFrame` it operates on if the date column is not a `datetime` type. For example:

[code]

Is this desirable behavior?

Possible remedies are:

- Only accept the `datetime` type
- Accept `str` type, but make a copy and leave the `pandas.DataFrame` as is.

Happy to hear your thoughts @kayhoogland @stephanecollot @koaning

[2019-09-19 07:36] stephanecollot commented on #190
Hi,

Sounds good!
We could try to support both maybe.

Cheers

On Thu, 19 Sep 2019 at 09:27, Ruben van de Geer <notifications@github.com>
wrote:

[2019-09-19 07:45] rubenvdg opened #192 "[FEATURE] Fix the start of the training set in TimeGapSplit"
Currently, the length of each training fold is fixed:

![timegapsplit_5_0](https://user-images.githubusercontent.com/37443208/65223668-f8d89e80-dac1-11e9-8ada-75c5374becab.png)

See also: https://scikit-lego.readthedocs.io/en/latest/timegapsplit.html#Examples.

However, in reality, I often use __all the data__ up until the split. It would be nice to add this as a feature.

[2019-09-19 07:48] stephanecollot commented on #191
Hi,

Nice catch.
Yep that is because I did the conversion :
https://github.com/koaning/scikit-lego/blob/master/sklego/model_selection.py#L39
Actually we don't need the entire dataframe, we just need a serie of the
date with the same index as the dataframe.
Therefore we could replace parameters `df, date_col` with `date_serie` =
`df['date]` and remove the conversion.

About enforcing the type to be

[2019-09-19 08:34] rubenvdg opened #193 "[BUG] TimeGapSplit requires unique index, but doesn't check for this"
`TimeGapSplit` operates on the index of the `pandas.DataFrame` and implicitly assumes the indices are unique. If this is not the case, `TimeGapSplit` returns undesirable output, without raising an exception. For example:

[code]

Possible remedies are:
- Requiring unique indices
- Copying the dataframe and resetting the index

[2019-09-19 15:04] koaning commented on #191
copy feels like a safer option for now. it allows for flexibility in the future.

[2019-09-19 15:06] koaning commented on #192
Out of curiousity, why do you use all the data? In my experience it is common to not look back at *all* of the history because the 10 years ago does not represent the world today. Looking back too far can introduce bias as well.

[2019-09-19 15:07] koaning commented on #193
Again, copy here feels safe enough.

[2019-09-19 19:41] rubenvdg commented on #192
Sometimes when I have not much data I do it. Also, for example financial institutions sometimes want the year 2008 in each split since that's when shit went down.

[2019-09-19 19:44] rubenvdg commented on #192
But as the BDFL of `scikit-lego`, you think it doesn't add anything, please spare me the time of implementing it :P.

[2019-09-19 20:04] koaning commented on #192
theres another BDFL too you know. if you can explain why it serves a
problem ill be easily convinced but im mainly interested in the reason.

On Thu 19. Sep 2019 at 21:44, Ruben van de Geer <notifications@github.com>
wrote:

--

*- Vincent*

[2019-09-19 20:13] rubenvdg commented on #192
Say that your training set is two years of data and that in practice ideally you’d like to use two years of data to train your model.

Then, basically you’re in bad shape but that’s life.

To do cv you could make your first split after one year and start extending the window in each iteration (until you use the full two years in the last iteration).

[2019-09-20 08:16] #163 closed

[2019-09-20 08:16] MBrouns commented on #163
fixed in #195

[2019-09-20 08:35] MBrouns commented on #184
Added the metrics to the docs in #198

[2019-09-20 08:43] MBrouns commented on #136
Seems fixed

[2019-09-20 08:43] #136 closed

[2019-09-20 08:44] MBrouns commented on #114
implemented in #169

[2019-09-20 08:44] #114 closed

[2019-09-20 08:50] MBrouns commented on #45
Considering this is a ghost account and the issue isn't super clear, I'm closing it for now

[2019-09-20 08:50] #45 closed

[2019-09-20 13:06] rubenvdg commented on #191
I tried to fix this issue by adding
[code]
in the `__init__`. However, this results in tests not working.

This has to do with the fact that in the initalization a `df` is passed and then in the `.split()` method a different dataframe is passed, c.f., https://github.com/koaning/scikit-lego/blob/master/tests/test_model_selection/test_timegapsplit.py#L23.

Is there a particular reason why you would

[2019-09-20 13:24] stephanecollot commented on #191
Why do you do `.reset_index(drop=True)`?
The index is very important, that how it can work with 2 different df -> the `X_train` usually doesn't contain the `date` column, and `df` contains the `date` (and `y` for example)

If you just remove reset_index it should work

[2019-09-20 13:29] stephanecollot commented on #191
And in the test `train = df.head(25)` this is actually testing the fact that you don't mess with the index ^^.

[2019-09-20 13:29] rubenvdg commented on #191
To (try to) resolve https://github.com/koaning/scikit-lego/issues/193.

[2019-09-20 13:33] rubenvdg commented on #191
But maybe I don't understand the use case that `TimeGapSplit` tries to solve. The convention in `sklearn` is to `__init__` with some settings (but without data) and then apply the splitter in `.split()`, c.f., https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.TimeSeriesSplit.html.

[2019-09-20 13:41] stephanecollot commented on #191
Yep it seem so.
You can read:
https://scikit-lego.readthedocs.io/en/latest/timegapsplit.html
https://scikit-lego.readthedocs.io/en/latest/api/sklego.html?highlight=TimeGapSplit#sklego.model_selection.TimeGapSplit

This TimeGapSplit needs data in the init, this is why it is scikit-lego.

A remark that can useful for your understand I think: The date column cannot be the index because you could have

[2019-09-20 13:42] stephanecollot commented on #193
I could just add something like

`assert len(df.index.unique) == len(df)`

[2019-09-20 13:44] koaning opened #201 "[FEATURE] adding a prior ... it might be a good meta"
Sometimes it makes sense to add a prior to your classifier. If you know that your dataset is unbalanced for example.

[2019-09-20 13:55] stephanecollot opened #202 "[DOCS] Missing line break in documentation"
Some how the documentation is not displaying new line anymore:

https://scikit-lego.readthedocs.io/en/latest/api/sklego.html?highlight=TimeGapSplit#sklego.model_selection.TimeGapSplit

[2019-09-20 17:50] stephanecollot commented on #193
Ok I'm fixing this

[2019-09-20 17:50] stephanecollot commented on #191
Ok I'm fixing this, with a big performance optimisation.

[2019-09-22 12:11] arthurpaulino commented on #202
Hi @stephanecollot!
The link you posted is not working anymore.

[2019-09-22 13:01] arthurpaulino opened #207 "[FEATURE] Bayesian Encoder -> PandasPipe maybe?"
Encoding categorical features with one hot encoding (basically the only option available on scikit-learn) can be quite troublesome in many scenarios. Something that has been working very well for me lately is a Bayesian approach. For instance, data in this binary classification problem:

[code]

Would become:
[code]

0.667 = 2/3 (2 positive cases out of 3)
0.5 = 1/2 (1 positive cases out of 2)

Th

[2019-09-22 13:11] MBrouns commented on #207
Hi Arthur,

I think in general such kinds of features would be good, but I wouldn't necessarily call this a bayesian encoder, but maybe a mean encoder instead. For a bayesian encoder I would expect either to be able to set some priors on the distributions per category or that it would use an empirical bayes approach to apply some shrinkage based on the group sizes.

Also, we should keep in mind th

[2019-09-22 13:13] arthurpaulino commented on #207
Oh, so it's already here: http://contrib.scikit-learn.org/categorical-encoding/targetencoder.html

Thanks!

[2019-09-22 14:06] koaning commented on #207
Yeah so that contrib project should have preference over what we do here. I would say that there might be an encoder that is *similar* to what we're describing here.

Suppose;

[code]

There might be moments where I'd like to average the `column` with a column that is not the output column. What I'm not sure about though is if this is better solved in pandas or in scikit.

That said, this might be

[2019-09-22 14:13] koaning commented on #207
@arthurpaulino I would mention: that target-encoder is actually a trick that seems to work well a lot of times.

[2019-09-22 14:14] #184 closed

[2019-09-22 14:16] MBrouns commented on #207
PandasPipe is definitely a useful feature, although this should probably live in sklearn rather than pandas in order to make sure the mean is nicely calculated on train only

[2019-09-22 15:16] arthurpaulino commented on #207
@koaning Just to check if I understood what you meant... would the result of what you said be:

[code]
?

[2019-09-22 15:16] koaning commented on #207
Ah yes. That's going to be a bit tricky.

I wonder where the abstraction should be though. I agree that something might go wrong with the `PandasPipeline` in terms of information leakage but I wonder if this responsibility should be deferred to the user.

[2019-09-22 15:16] koaning commented on #207
@arthurpaulino I'll edit the comment above.

[2019-09-23 08:33] MBrouns opened #208 "[FEATURE] Contraints on refit choice Gridsearch"
In many cases I'm interested in multiple scoring metrics when doing gridsearch and I generally set hard constraints on the metrics I'm not directly optimizing for.

It would be nice if we could set some of these constraints directly on the gridsearch, rather than getting it out manually through the gridsearch attributes after fitting.

[2019-09-23 11:10] koaning opened #209 "[FEATURE] metrics on subsets of X,y"
There may be a critical subset of your data for which you want to make sure that your model works well. For example; you might want to have a metric that allows you to measure the accuracy for your model for both males and females.

The goal of this issue thread is to discuss if we might discover a nice solution for this issue. Potentially via a meta metric but other options are also possible.

[2019-09-23 11:15] koaning opened #210 "[FEATURE] customise refit"
At the moment `GridSearchCV` works by selecting the model that performs best on the `refit` metric on the test set. It doesn't offer a way for you to;

- score different rows of data less heavily than others
- include not just the `mean_test_refit` score but also the `std_test_refit` score
- allow another holdout set to be used in determining the best outcome

These can be valid concerns. For exam

[2019-09-23 11:17] koaning commented on #208
It feels like this is best solved by taking the trained gridsearch object and passing it into a function that changes the `.best_estimator_` property as well as the ranking in the `.cv_results_`. I am not sure if we'd want to have a "lego" variant of the gridsearch cv object.

[2019-09-23 11:29] koaning opened #211 "[FEATURE] conda availability"
We've noticed for windows users that cvxpy doesn't always install nicely via pip because of the some C++ dependencies. An easy way to solve this is to have the windows users use conda instead since it seems that [cvxpy is available on conda](https://anaconda.org/cvxgrp/cvxpy).

We'll need to figure out what the easiest path is for this.

[2019-09-23 11:30] #60 closed

[2019-09-24 15:19] MBrouns opened #212 "[FEATURE] PandasTypeSelector should error when dtypes are different in fit and transform"
In class today we had a train and test set with different datatypes. This causes the `PandasTypeSelector` to return a different amount of columns in train and test which causes sklearn to crash with the unhelpful error `columns are different in fit and transform`.

It would be helpful for debugging that the `PandasTypeSelector` would already error earlier and specify what the differences are.

[2019-09-25 18:04] koaning commented on #201
1. I think `ClassifierPrior` might be slightly better as a name but I am open to suggestions.
2. This sounds good.
3/4. Why would you need to store/use the confusion matrix?

This sounds a lot like the [confusion balancer](https://scikit-lego.readthedocs.io/en/latest/meta.html#Confusion-Balancer) that I was working on Friday. The impression I got from your idea is that you don't check the confusio

[2019-09-25 18:39] jsamoocha commented on #201
About the confusion matrix: assume a binary classifier that predicts _Y_ (having classes _a_ and _b_). Say the inner classifier predicts _Y_hat_ = _a_. If we're interested in P(Y=a|Y_hat=a), applying Bayes rule, we need to know P(Y_hat=a|Y=a) (i.e. the True Positive Rate if "a" is the "positive" prediction) and P(Y_hat=a) (i.e. all "a" predictions / all predictions). Don't you need the confusion m

[2019-09-25 20:42] koaning commented on #201
It is a shame that github does not render mathjax, but here goes.

![image](https://user-images.githubusercontent.com/1019791/65637976-78e09600-dfe5-11e9-8f5e-3f2c1442804b.png)

This does make a bit of sense actually. I originally thinking you just wanted to reweigh the classes by saying one of them is more likely. You don't need a confusion matrix for that. Would also be a nice feature.

[2019-09-30 14:19] jsamoocha commented on #201
Ok, let me do both options, then. This means the classifier gets an additional param `evidence` that can have values `predict_proba`, `confusion_matrix`, or `both`.

In case of `predict_proba`, the prediction result will be a balance(*) between the inner estimator's `predict_proba()` result and the prior probabilities.

In case of `confusion_matrix`, the result will use the inner estimator's `pred

[2019-10-02 15:50] jsamoocha commented on #201
Just started with the easiest part, based on the confusion matrix. See #213 (WIP) for a sneak preview.

[2019-10-02 16:09] rubenvdg commented on #192
By the way: the godfather of time series Rob Hyndman doesn't think it's such a bad idea: https://robjhyndman.com/hyndsight/tscv/.

[2019-10-16 09:19] janvdvegt commented on #209
As mentioned yesterday, I'm interested in looking into this feature. Question: this meta metric you talk about means those closures that return the actual metric method?

My knowledge of the scikit internals is not deep enough yet, so a question with regards to metrics in general. Is it possible to return a set of metrics or does every metric represent one scalar? In case of the latter, there is a

[2019-10-16 12:20] koaning commented on #209
The idea that you're proposing has merit to it. I think you don't need to pass the name to the generating function though. The gridsearch takes care of that.

It may be clearer if we start this discussion with an example of how a person might use a `subset_metric`.

[code]

[2019-10-16 12:46] koaning opened #217 "[DOCS] fairness img broken"
projection image is broken in docs.

<img width="925" alt="image" src="https://user-images.githubusercontent.com/1019791/66920488-af796180-f023-11e9-880d-0436ae564dd8.png">

[2019-10-16 12:48] MBrouns commented on #209
yes!

As far as I know it's only possible to return a single scalar. The gridsearch takes a dict though so if the meta-metric returns a dict you can use `{**subsetmetric(...), my_other_metric}`

Gridsearch handles this itself quite nicely

[2019-10-16 16:18] janvdvegt commented on #209
Noted, my idea about (the possibility of) returning multiple scores is that you are usually not interested in just one subset, it's usually multiple slices over the same dimension from my perspective. We are not only interested in accuracy of women or people of color, we want to compare those metrics to their counter parts. That's where my suggestion of returning multiple categories with the lambd

[2019-10-16 16:27] koaning commented on #209
I mean ... technically ... you could still do that with my previous approach by using a one-liner.

[code]

This seems to also be fixed with the dict comprehension.

### But what about multiple columns?

You could repeat this approach for other columns.

[code]

[2019-10-16 17:08] janvdvegt commented on #209
Yeah that is a clean approach too, my reasoning behind it was that for multiple categories you would recalculate the mask even though very commonly you would want multiple slices anyway. But I suggest we implement the binary mask approach first and then see if it makes sense to add the multiple slices as an additional feature.

I'll setup my environment and see if I can get the tests running. Afte

[2019-10-17 21:13] koaning opened #218 "[BUG] fix gaussian methos"
The gaussian methods are a bit nasty now.

- they use **kwargs instead of strict params
- they don't support the bayesian variant

it'd be great if these could be added.

[2019-10-18 14:05] koaning commented on #201
Closing this issue for now. Detailed discussions are better served in a new thread.

[2019-10-18 14:05] #201 closed

[2019-10-18 14:06] #36 closed

[2019-10-18 14:06] #22 closed

[2019-10-18 14:06] #28 closed

[2019-10-18 14:09] koaning opened #221 "add --pre-commit features"
our ci jobs are taking a longer time now and since 25% of the issues are flake related it may be a good idea to add black to this project and force it with a pre commit hook

@MBrouns objections?

[2019-10-18 14:24] MBrouns commented on #221
I made a PR that formatted everything with black (#223). I'm gonna go through that to see if I like the style everywhere first

[2019-10-20 09:39] janvdvegt commented on #209
I added the feature and wrote a number of tests. Two questions:

1) What do I need to be able to do to push my changes to a branch and create a pull request

2) What would be preferred with regards to documentation?

[2019-10-20 15:42] koaning commented on #209
@janvdvegt did you fork? you should be able to create a PR from github. please ensure that the unit tests run.

if you have documentation ready we wouldn't mind having a look. another option is to first get this merged and worry about documentation later.

[2019-10-20 15:45] janvdvegt commented on #209
I did not fork, I cloned and created a branch. I'll check how to turn it into a fork and then I'll create a PR that way. All the unit tests are running. I added a docstring to the new method, other documentation can come later then.

[2019-10-20 15:49] koaning commented on #209
Yeah that's fine. We sometimes do soft releases that we want to test "out there". Only the items that are in a getting started guide are considered to be "formal" in that sense.

[2019-10-20 15:49] #218 closed

[2019-10-21 12:22] janvdvegt commented on #192
This is a common trade off in my experience. On the one hand more data can mean more signal and the possibility to learn more intricate relations but on the other hand the world might have changed enough that it is actively hurting your performance. My approach is to let the decision of where to cut off data that is too old become a hyperparameter. This means you can treat this as any other hyperp

[2019-10-21 15:49] koaning commented on #192
sklearn does not allow to gridsearch your cv method. but what you’re
describing is a usecase for the decayEstmator meta model.

docs here:

https://scikit-lego.readthedocs.io/en/latest/meta.html#Decayed-Estimation

On Mon 21. Oct 2019 at 14:22, janvdvegt <notifications@github.com> wrote:

--

*- Vincent*

[2019-10-21 16:03] MBrouns commented on #192
Adding a `max_train_duration` attribute that is by default set to `train_duration` but could be set to `None` is a way in which we could get the result you're looking for without polluting the API too much.

[2019-10-22 12:00] MBrouns commented on #73
This was added in #200

[2019-10-22 12:00] #73 closed

[2019-10-22 12:01] MBrouns commented on #70
this was merged in #97

[2019-10-22 12:01] #70 closed

[2019-10-22 12:05] MBrouns commented on #165
fixed in #206

[2019-10-22 12:05] #165 closed

[2019-10-22 12:07] MBrouns commented on #208
closing this in favour of continuing the discussion in #210

[2019-10-22 12:07] #208 closed

[2019-10-22 12:09] MBrouns commented on #211
From a users perspective I guess the nicest way forward is for us to provide a windows wheel?

[2019-10-22 12:17] #74 closed

[2019-10-23 08:55] corriebar opened #225 "[DOCS] GMMOutlierDetector - what output for outlier?"
Holds for both BayesianGMMOutlierDetector and GMMOutlierDetector
From the documentation, it is not clear what output actually is for outliers.
The documentation is inconsistent and confusing here:
[code]
So is it 0 or -1?

If you run the code
[code]
the output is:
[code]
so I assume the correct output for an outlier is actually 1

[2019-10-23 09:01] koaning commented on #225
Hi @corriebar,

wh0a. Good catch.

Besides the docs not being clear, I think you might have found a clear bug. I have some time today so I'll fix this one. Thanks for reporting!

[2019-10-23 10:10] koaning commented on #225
It is fixed. New version was just pushed. @corriebar if you can confirm then I'll close this.

[2019-10-23 11:37] corriebar commented on #225
works correctly now :+1:

[2019-10-23 14:32] maxibor commented on #211
I made a PR to add scikit-lego to conda-forge ([#9958](https://github.com/conda-forge/staged-recipes/pull/9958)) (but I unfortunately can't test it on Windows)

Should I list you as one of the maintainers of the conda package @koaning @MBrouns ?

[2019-10-24 08:52] MBrouns commented on #211
Thanks for picking this up! I'll try to see if I can verify whether this works on a restricted windows machine. If you could list both of us that'd be great!

[2019-10-24 09:29] maxibor commented on #211
The continuous integration logs are [there](https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=83849) :
Seems to be fine on Linux 64, OS X 64, and Windows 64

[2019-10-24 09:53] #212 closed, assigned to nobody

[2019-10-24 09:55] koaning commented on #211
@maxibor @MBrouns at the moment I've kept the distribution on pypi a manual thing and it seems preferable to me to keep it that way. The command to push is in the `Makefile`. If the conda command could be added that'd be grand.

@MBrouns it might make sense if I figure out a way for you to also be able to push?

[2019-10-24 10:04] maxibor commented on #211
AFAIK the distribution through conda-forge is also manual: one needs to submit a PR to update the conda recipe to a new version.

[2019-10-24 11:56] MBrouns opened #228 "List of features in readme is out of date[DOCS]"

[2019-10-24 12:16] koaning commented on #228
This feels like something we might want to automate. I might add a small little script that automatically generates a list of features.

[2019-10-24 13:15] MBrouns opened #229 "MinimumPrecisionThresholder [FEATURE]"
At the client of one of the xcc kids they're working on email classification for automated routing. One of the things they want in that model is to have a certain minimum precision over all the classes and base their thresholds on that.

I implemented a small meta estimator that in its fit calculates crossvalidated estimates of the precision recall characteristic for different thresholds for diffe

[2019-10-24 13:40] koaning commented on #229
This can get really tricky really quickly...

The `wont-predict` part and the `calibration` part are both post processing steps. What you're describing here is a specific way of calibrating and a specific way of not predicting. Both seems valid I just wonder if there's a nice way to split them apart.

[2019-10-28 09:15] stephanecollot commented on #191
This was fixed and merged in #227

[2019-10-28 09:15] stephanecollot commented on #191
@koaning can you close?

[2019-10-28 09:16] stephanecollot commented on #202
This was fixed and merged in #227

[2019-10-28 09:16] #202 closed

[2019-10-28 09:17] stephanecollot commented on #193
This was fixed and merged in #227
@koaning can you close?

[2019-10-28 09:20] #191 closed

[2019-10-28 09:22] #193 closed

[2019-10-28 09:35] stephanecollot opened #232 "[FEATURE] TimeGapSplit add n_splits param"
Currently in TimeGapSplit you can specify exactly the behaviour in production with:
- `train_duration`
- `valid_duration`
- `gap_duration`

and the class will define for you automatically the number folds.

We could add a new parameter `n_splits`, that will allow to give for example only `gap_duration` and `valid_duration`. The use case is the following: usually we know the gap duration (given by

[2019-10-28 15:06] corriebar opened #233 "[FEATURE] Combine classifier with outlier detection"
I played around with the outlier detection and found that, at least for my data, having an outlier detection that takes group structure into account would be beneficial.

I wrote a small script that uses the classifier to detect outliers per class and then took the mean of the outlier detection. That is, all points that are classified as outliers for most/all classes are then outliers. (I mostly c

[2019-10-28 18:40] MBrouns commented on #211
I verified that the conda installation works today in class on a windows laptop without visual studio so this looks good! Thanks a bunch @maxibor for doing this. If you send me your address somehow  (my email is my github handle @xccelerated.io) I'll send you some stickers.

[2019-10-28 18:43] #211 closed

[2019-10-28 18:53] koaning commented on #233
You certainly have a reasonable idea there but I our library would use a slightly different pattern: meta-models. In particular the [GroupedEstimator](https://scikit-lego.readthedocs.io/en/latest/meta.html#Grouped-Estimation).

## The Idea

Scikit-Lego features *lots* of meta-models. A meta model behaves like a decorator of sorts. It adds behavior to the underlying model.

The idea behind the grou

[2019-10-28 18:59] koaning commented on #233
## Small Misread

After re-reading your post I realize that what I am offering is slightly different to what you're doing.

There's a feature on our roadmap which is the `WontPredict` meta-estimator. We haven't figured it out yet but the idea is that you offer your estimator and a `judge` that determines if the point to be predicted needs to receive the `WontPredict` flag. For context you might ap

[2019-10-28 19:01] koaning opened #235 "[FEATURE] WontPredict: meta model."
In the world of hype @MBrouns and myself came up with a very normal thought.

<img width="611" alt="Screenshot 2019-10-28 at 20 00 04" src="https://user-images.githubusercontent.com/1019791/67709060-8f4f8800-f9bd-11e9-8ac2-a4566754913b.png">

One way to acomplish this is by introduction of a new meta model: `WontPredict`.

This thread is meant as a place to discuss the implementation.

[2019-10-28 19:03] koaning commented on #235
Here's my first proposal.

<img width="676" alt="Screenshot 2019-10-28 at 19 56 43" src="https://user-images.githubusercontent.com/1019791/67709212-c7ef6180-f9bd-11e9-8d59-47beec338ec3.png">

The idea is that there are two objects being passed.

1. The original estimator that tries to predict `y` using `X`
2. Another object, most likely an outlier detector, that determines if the current row needs

[2019-10-28 19:04] MBrouns commented on #233
Cue me writing a large story twice and deleting it just after seeing @koaning's reply. I think this makes the most sense as a `WontPredict` meta-estimator that (in the specific case of @corriebar) uses a GMMClassifier as the estimator and a GMMOutlierDetector as the referee.

[2019-10-28 19:06] MBrouns commented on #235
Some of the things that come to mind w.r.t. the implementation:

How are scorers going to account for the wontpredict cases. Should they simply ignore them? If so, how are we going to facilitate the user.

How are we going to indicate that a specific example is a wontpredict example?

I have a feeling both of these issues could be elegantly solved using numpys `maskedarray` implementation, but I'm

[2019-10-28 19:10] MBrouns commented on #235
Also, should we distinguish between probabilistic classifiers and outlierdetectors and their nonprobabilistic counterparts? If both are probabilistic it feels right to do `P(Class) = P(Class | Data) * P(Data)` and then thresholding the outcome of that to get binary predictions

[2019-10-28 19:16] koaning commented on #235
In terms of scorers:

In terms of probabilistc counterparts:

[2019-10-28 19:18] MBrouns commented on #235
Good point on sticking with the simple cases for now and treating `ProbabilisticWontPredict` separately. np.nan definitely seems more generic. i'll see if I have some time tomorrow to play around with maskedarray to get a better understanding of how that works.

[2019-10-28 19:19] #217 closed

[2019-10-29 09:37] corriebar commented on #233
Ah so the GroupedEstimator is similar to using map/nest/model in R. neat.

The WontPredict is indeed closer to what I'm doing. I actually thought something like this was already part of your package after seeing the talk :sweat_smile:

The WontPredict is def more flexible for using different combos of estimators/referees. What I like about my approach using Gaussian Mixture, is that the same metho

[2019-10-29 10:00] #189 closed

[2019-10-29 10:11] corriebar commented on #235
Regarding how to indicate that an example is a WontPredict, there are two clustering methods in sklearn (that I'm aware of), [DBSCAN](https://scikit-learn.org/stable/modules/generated/sklearn.cluster.DBSCAN.html) and [OPTICS](https://scikit-learn.org/stable/modules/generated/sklearn.cluster.OPTICS.html#sklearn.cluster.OPTICS), that output -1 as a label for noisy examples. Intuitively, this seems t

[2019-10-29 10:19] MBrouns commented on #235
-1 works in part because both of those methods are clustering methods and therefore make their own cluster labels anyways. There's nothing stopping a regular classifier to have `-1` as a regular class although that use case might be rare.

[2019-10-29 10:43] koaning commented on #233
There's a reason why I felt the need for this in python; I loved this feature in R.

I'll close this discussion for now then. Feel free to join the other discussion. Also, if you feel like adding your example to the docs: I'll gladly accept it.

[2019-10-29 10:44] #233 closed

[2019-10-29 10:45] koaning commented on #235
Technically .. we could allow the user to set the flag. I imagine that in general the value for `wont-predict` is -1 but in the case of regression the user could specify `np.nan`? This could be passed upon initialising `WontPredict()`.

[2019-10-29 19:50] MBrouns commented on #229
Good point, I'll see whether we could recreate this with calibration and a `wontpredict` step. Feels like it should be possible

[2019-10-29 20:42] koaning commented on #106
First version of this: https://github.com/koaning/scikit-lego/pull/239.

[2019-10-30 12:47] koaning opened #240 "[FEATURE] Information Filter Should be Parameterized"
Maybe you don't want to filter 100% of the information away, maybe more like 50%.

The proposal is to allow this parameter to be GridSearch-able.

[2019-10-30 15:14] koaning commented on #240
https://github.com/koaning/scikit-lego/pull/241

[2019-10-31 19:10] #228 closed

[2019-11-09 09:02] #240 closed

[2019-11-09 09:07] koaning commented on #235
I've been mulling over this for a while and I am now sort of wondering if this is something we really want to automate in a `Pipeline`.

If I were to look at the proposal from my talk;

![image](https://user-images.githubusercontent.com/1019791/68526092-8ffaef00-02d8-11ea-94c0-97b4539dbf43.png)

This example feels like it is a pipeline that goes through stages. But another way of looking at this i

[2019-11-11 09:37] koaning commented on #235
Alternatively, this might be an idea too.

[code]

[2019-11-11 12:59] MBrouns commented on #235
I kinda like this! as long as those predicates are estimators themselves
you can basically build a dag with multiple exit points.

Then again using this to build complex graphs is a bit iffy so we might
want to think about an alternative pipeline implementation that is a dag
rather than a pipeline.

On Mon, 11 Nov 2019 at 11:37, vincent d warmerdam <notifications@github.com>
wrote:

[2019-11-30 09:29] koaning opened #243 "[DOCS] not the best starting example"
![image](https://user-images.githubusercontent.com/1019791/69898636-514ad880-135c-11ea-8ad3-d2bbdf987320.png)

[2019-12-07 12:56] koaning opened #245 "[FEATURE] Constrained Linear Regression"
I found an interesting idea [here](https://or.stackexchange.com/questions/3144/search-approach-to-solve-optimization-problem-with-only-a-minimum-where-time-ser). When it comes to averaging the output of different models (we have a `EstimatorTransformer` for that) you might want to enforce that the weights of each average is never negative and that they sum to one.

There seems to be a [closed form

[2019-12-07 14:48] koaning commented on #245
This is but one type of constraint that is interesting to have on a linear regression, but one that has merit to it.

[2019-12-15 22:45] MBrouns commented on #243
Changed it in #246

[2019-12-21 22:21] koaning opened #247 "[FEATURE] Fairness Datasets"
I was exploring the internet for datasets (as you do) and came across [this website](http://vincentarelbundock.github.io/Rdatasets/datasets.html). There's a lot of R datasets there but two I've found seem relevant with regards to fairness.

- Arrests for Marijuana Possession
- Minneapolis Police Department 2017 Stop Data

Would it be an idea to add these datasets to this library? In terms of bench

[2020-01-03 12:25] greatsharma opened #248 "[BUG] 13 tests are failing in the master branch"
In order to help us fix a potential bug we need:

- [ ] a clear and concise description of what the bug is.
- [ ] code that helps us reproduce this
- [ ] **optional** a unit test that helps us catch the bug in the future

[2020-01-03 12:37] koaning commented on #248
Yeah we are aware of it. We didn't fix it because of the holiday season and we're assuming this is due to a new scikit-learn release.

No worries though, it was on our radar ;)

[2020-01-03 12:54] greatsharma commented on #248
Is it compulsory to raise an issue before PR for small changes?

[2020-01-03 13:36] MBrouns commented on #248
Typo's etc. are fine without issues, but in general I would raise an issue beforehand just to avoid doing redundant work

[2020-01-03 14:16] greatsharma opened #249 "Code Correction and enhancement in some of the preprocessing classes"
I suggests the following changes to preprocessing classes -

1.  Originally In transform method of PandasTypeSelector,
	_check_X_for_type(X) is called after checking dtypes. By this
	if we call transform method on numpy array then it raise
        `AttributeError: 'numpy.ndarray' object has no attribute dtypes`

	but _check_X_for_type(X) should be called before checking dtypes,
	and then calling t

[2020-01-03 14:50] koaning commented on #249
1. Happy new year!
2. Thanks, you really seem to put effort in here.
3. Could you split these points into separate issues? Might make it easier to keep the discussion clean.

[2020-01-03 15:29] #243 closed

[2020-01-03 20:08] koaning commented on #245
https://github.com/koaning/scikit-lego/pull/253

[2020-01-03 20:09] koaning commented on #245
I've made an initial implementation for a regression. I'd like there to be one for a classifier as well but I'll need to confirm that nothing goes wrong with shapes.

[2020-01-03 20:14] koaning opened #254 "[FEATURE] Constrained Linear Classification Features"
We have a method of combining features linearly as described [here](https://github.com/koaning/scikit-lego/issues/245). The current implementation only features regression ... it might be nice to also offer a method for classification.

There's a few concerns;

1. Is this maybe not better served as an ensemble model (it's kind of the only use-case)
2. Do we need to check that the input fields are

[2020-01-03 20:28] koaning commented on #248
These now look green.

[2020-01-03 20:28] #248 closed

[2020-01-03 20:34] koaning commented on #247
The stop dataset is 6.6mb unfortunately ... which is a tad bit too big for comfort.

[2020-01-03 20:46] koaning commented on #247
https://github.com/koaning/scikit-lego/pull/255

[2020-01-04 16:06] greatsharma opened #258 "[FEATURE] DataFrame In -> [] -> DataFrame Out"
How about a DF wrapper around some sklearn classes which are useful?

One of the thing which sklearn transformers does is that they take df as input but they returns the transformed result in numpy array format which are not in tabular format like DF and hence are hard to look and interpret and so we have to manually convert them to dataframe.

But if we have DF wrappers around these sklearn class

[2020-01-04 16:07] greatsharma commented on #258
Note, some of the classes in above pipeline is not much generic but some do :)

[2020-01-04 16:35] koaning commented on #258
I have done some thinking about this topic. And I see three main downsides;

- One downside of doing a lot of work in this area is that the pandas API is bound to change once v1.0 hits (and I prefer not to have to do an overhaul) and the sklearn API is bound to also make use of a named array in the future to allow for named features (and I prefer not to have to do an overhaul).
- Also ... there ar

[2020-01-04 16:54] greatsharma commented on #258
The transformers not starting with DF are not generic and are specific to my work and the dataset I used. So todo_X belongs to that transformer that I created for that specific usecase/dataset.
Everything starting with DF is generic because it is wraped around prebuilt sklearn classes.

I agree with the meta-estimator thing

[2020-01-04 17:00] koaning commented on #258
@MBrouns any thoughts on the idea of `KeepDataFrame` as a meta estimator?

[2020-01-05 09:08] koaning commented on #221
I've made a PR that does not contain black just yet but does contain some useful hooks. https://github.com/koaning/scikit-lego/pull/260

[2020-01-05 09:45] MBrouns commented on #258
I've also played around with having a meta-transformer for keeping dataframes in and out, but there's some things I'm not sure of yet. My implementation looked something like this:

[code]

It primarily relies on the `get_feature_names` of the BaseEstimator to figure out what the column names after transformations should be, but as that is not implemented on a lot of estimators it can fall back on

[2020-01-05 10:54] greatsharma commented on #258
I like the idea of `singledispatch`. And I think we can for now implement  this for those which either have `get_feature_name` or those who keeps the df shape same.
Apart from that why you place `if self.columns_  is None `  doesn't it always evaluates to `False`. Is I am missing something?

[2020-01-05 10:56] MBrouns commented on #258
ah yes, there should be a `if isinstance(X, pd.DataFrame)` in the `fit` before setting `self.columns_`

[2020-01-05 11:44] greatsharma opened #261 "redundant if and attribute in PandasTypeSelector"
`self.type_columns_`  and `self.feature_names_` always evaluates to the same thing hence `self.type_columns_` seems to be redundant.

Also the following if in transform() always evaluates to `False`
[code]
because we already checked for `if (self.X_dtypes_ != X.dtypes).any()` and whenever columns differ during fit and transform this checking will automatically raise `ValueError: Can only compare i

[2020-01-12 16:21] greatsharma commented on #261
@MBrouns please review this, I checked this out.

[2020-01-12 19:33] MBrouns commented on #261
Yep, seems to make sense! I do like the explicit error rather than the 'can only compare identically labeled series'. It might even make sense to add the diff between the series indices in that error, but other than that it looks good

[2020-01-13 11:10] greatsharma commented on #261
@MBrouns are you requesting some changes? Because it's not clear to me.

To add the diff between the series indices in that error would require transformed_df beforehand which is not possible and even if we did that then I think it make the code more complex, lossing it's main logic/functionality and overcasting the error handling only. Still if you have any idea then tell me I will do because may

[2020-01-13 12:20] greatsharma opened #263 "Redundant checking"
The current code of `_col_idx()` of `InformationFilter` is,
[code]
But all these `if` seems to be redundant because in
`self.col_ids_ = [v if isinstance(v, int) else self._col_idx(X, v) for v in self.cols]`  this function will be called only when the column names are `str` which makes the first `if` always `True`, and string column names are for DF only which makes the second `if` always `False` .

[2020-01-13 14:36] #249 closed

[2020-01-14 09:59] #245 closed

[2020-01-15 09:56] MBrouns opened #264 "[FEATURE] fairness scores should work on non-binary indicators"
ValueError: equal_opportunity_score only supports binary indicator columns for `column`. Found values ['Black' 'White']

[2020-01-15 09:58] MBrouns opened #265 "[FEATURE] equal_opportunity_score positive_target should match pos_label to adhere to sklearn api"
[code]

[2020-01-15 10:30] koaning opened #266 "[FEATURE] add metrics for drift comparisons"
There is a need for metrics that can detect drift.

[code]

There are multiple ways of doing this, but we should start with a few. Some inspiration could be found over on [the scipy stack](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.wasserstein_distance.html).

[2020-01-15 10:30] #247 closed

[2020-01-16 12:56] MBrouns commented on #263
There's indeed something here that could be improved, let's walk through the changes

the `_col_idx` indeed only gets called with strings because of this if statement here: `[v if isinstance(v, int) else self._col_idx(X, v) for v in self.columns]` In terms of readability though I might actually suggest to remove the if statement from the comprehension into the `_col_idx` method, rather than the ot

[2020-01-16 13:08] greatsharma opened #268 "[FEATURE] BaselineDropnan"
BaselineDropnan can be the first tool for the users while handling `nan` data. In majority of cases the data contains `nan` so we can create a baseline model to know how it behaves on removing all nan rows/columns (provided by the user). The idea is just to get a quick first look on nan data or for a good initial baseline in one liner code.

The API looks like this :
[code]

Usecase would be like

[2020-01-16 13:29] greatsharma commented on #263
@MBrouns I agree with moving if statement from the comprehension into the _col_idx method, but I still unable to understand what's the need of `if isinstance(X, np.ndarray)` because all the `types` checking are done in `_check_coltype()` and infact that's why we are having a separate function for that. All such cases had been handed in these lines of `_check_coltype()`
[code]

One more thing I jus

[2020-01-16 15:09] koaning commented on #268
Just so I understand, what is the `BaselineDropnan` supposed to do? I think dropping rows that contain a `NaN` is a bad idea in general.

[2020-01-16 15:11] koaning commented on #268
Here's the doozy. Suppose that I have an `X` that has some number of rows that contain missing values. As a user, you typically don't know how many exactly. So let us presume that the initial dataset has 1000 rows, 50 out of which contain NaNs.

Let's then say that we have a model that produce a prediction `y_hat` containing 950 rows. How will the user be able to link these predictions back to the

[2020-01-16 15:13] koaning commented on #268
I also think that `NaN`s tend to be something that has a lot of context. Context which doesn't really translate well into a general tool that is supposed to work across usecases.

[2020-01-16 15:23] greatsharma commented on #268
In that case user can get the nan rows using `self.nans_` and `yhat` containing 950 rows corresponds to `X[~self.nans_]`

[2020-01-16 15:27] greatsharma commented on #268
It's indeed a bad idea but it is for baseline like `RandomRegressor`, just to get a quick idea about data and model. And also when `nan` rows are less it sometimes gives good starting model.

[2020-01-16 15:42] koaning commented on #268
In that case it'd still be better to impute, no?

[2020-01-16 16:22] greatsharma commented on #268
Hmm,  agree but also imputation is a part of data preprocessing and in `dummy.py` we provide very basic baseline start. Also there is a lot to do in imputation.

[2020-01-16 17:35] koaning commented on #268
Imputation is largely handled by transformers in sklearn. There's even a [KNN](https://scikit-learn.org/stable/modules/generated/sklearn.impute.KNNImputer.html)-variant these days. If you have a clear and practical imputation strategy that isn't handled by scikit-learn then I'd be all ears but dropping `NaN`s is bad general practice that I wouldn't want to endorse.

It also deserves to be said tha

[2020-01-16 18:59] koaning commented on #268
I will close the issue for now.

[2020-01-16 18:59] #268 closed

[2020-01-16 19:01] MBrouns commented on #268
Changing the length of dataframes / array is not something that is common in sklearn. Also, how would the model make predictions for observations containing nans?

I feel this is better left outside of sklearn and more easily handled with a pandas dropna

[2020-01-17 09:40] janvdvegt opened #269 "[BUG] ColumnSelector not working with GridSearchCV"
When using a GridSearchCV with the ColumnSelector it throws an error about not being able to clone the ColumnSelector:

```RuntimeError: Cannot clone object ColumnSelector(columns=['x1']), as the constructor either does not set or modifies parameter columns```

This was with and without the reference to the object in the param_grid:

    param_grid = {"dummyclassifier__strategy": ["constant"],

[2020-01-17 10:40] koaning commented on #269
We had noticed this bug a while ago and we fixed it. What we haven't done in the meantime is do a release. I'll do that now. Within 15 minutes you should be able to install again. If the error persists: do let us know!

[2020-01-17 10:47] koaning commented on #269
It should now be live https://pypi.org/project/scikit-lego/

[2020-01-17 10:47] #269 closed

[2020-01-19 11:52] greatsharma commented on #263
@MBrouns any update on this?

[2020-01-19 12:08] MBrouns commented on #263
fair enough, I'm currently wondering though whether we need `_check_coltype` at all. If we do proper error handling in the `_col_idx` we could probably do without it and reduce the complexity of the code a bit

[2020-01-19 14:37] greatsharma commented on #263
`_col_idx` is called in `fit` only so we if do all error handling in `_col_idx` and remove `_check_coltype` then we miss checks of X in `transform`

[2020-01-21 10:47] greatsharma commented on #258
@MBrouns are we having eye on this?

[2020-01-21 15:25] koaning opened #272 "[FEATURE] Lattice Encoders"
In the interest of creating models that offer monotonic features I wish to introduce ...

![Screen Shot 2020-01-21 at 16 18 58](https://user-images.githubusercontent.com/1019791/72817273-ca362480-3c69-11ea-8f79-bea3c1b40520.png)

The idea works like this. Take let's assume that we have two features; F_I and F_II. We can take the entire span of the featurespace and cut it into pieces. We can introd

[2020-01-21 15:28] koaning commented on #272
There might also be an opportunity to generate monotonic/smooth features with this approach. There is a related issue on this [here](https://github.com/koaning/scikit-lego/issues/34).

[code]

[2020-01-21 15:40] #261 closed

[2020-01-22 15:18] koaning commented on #272
It seems to make more and more sense to build this with lattices instead of rbfs first.

[2020-01-23 09:39] koaning commented on #272
<img width="1372" alt="image" src="https://user-images.githubusercontent.com/1019791/72972922-90c9fa00-3dcc-11ea-8842-ab96a84a0430.png">

[2020-01-23 14:51] koaning commented on #272
We've decided to call these `lattice encoders` and to have this be a feature that allows you to constrain your features such that it is easy to give to a constrained regression model.

We also want to add two regression models.

`MonotonicRegressor` and `MonotonicClassifier`

[2020-01-23 16:11] koaning commented on #272
@MBrouns `LatticeEncoders` or `IntervalEncoders` ?

[2020-01-24 21:40] koaning commented on #127
I believe this is now fixed. Will open again if need be.

[2020-01-24 21:40] #127 closed

[2020-01-24 21:40] koaning commented on #34
This topic willl be discussed further in #272.

[2020-01-24 21:40] #34 closed

[2020-01-24 21:41] koaning commented on #144
The more and more I think of this the more I feel this should be part of the yellowbrick package. Not here. Don't want to depend on matplotlib.

[2020-01-24 21:41] #144 closed

[2020-01-24 21:41] #221 closed

[2020-01-24 21:43] #133 closed

[2020-01-24 21:44] koaning commented on #130
A variant of this got pushed. https://github.com/koaning/scikit-lego/pull/253

[2020-01-24 21:44] koaning commented on #130
Will close this issue for now. Doing a cleanup.

[2020-01-24 21:44] #130 closed

[2020-01-26 11:51] MBrouns commented on #258
I haven't been working on this, it's been rather busy with other things. I think I'm still open to having an implementation for this, but I'm not sure how useful this is if we only focus on transformers that keep the same shape or have `get_feature_names`. What could help is to have an overview of which transformers in sklearn do have these constraints and which don't

[2020-01-26 12:35] greatsharma commented on #263
@MBrouns did I miss something or there should be some other way around to correct it?

[2020-01-26 12:59] MBrouns commented on #263
I think it is, in the end, the users' responsibility  to ensure the same form of data is passed to fit and transform, but it is of course possible to compute `col_ids_` in both `fit` and `transform` instead of having it be a fitted parameter on `self`

[2020-01-26 14:03] koaning opened #276 "[DOCS] spellcheck does not play nice with images"
We use a pre-commit hook to check for spelling. It is an awesome thing to have ... but unfortunately it does not play nice with images that are rendered in the `.ipynb` files.

![image](https://user-images.githubusercontent.com/1019791/73136348-ee6c7980-404c-11ea-9b94-8b47d2761aea.png)

[2020-01-26 14:04] koaning commented on #276
I could explore if we can perhaps properly render all of this in the CI, but didn't feel like spending a sunday afternoon to do it.

[2020-01-26 14:12] koaning commented on #272
First version #275

[2020-01-26 14:20] koaning opened #277 "[FEATURE] Monotonic Regression API"
@MBrouns and myself have already agreed that we want to have monotonic regression/classification in this project. What we should probably discuss is the API.

We'd like to be able to select columns to constrain on as well as how. One proposal could be;

[code]

Another one could be.

[code]

Something inside of me prefers to former. It feels like we do not need to explicitly label all columns, onl

[2020-01-26 14:21] koaning commented on #277
There's also the matter of dataframes, but that seems solvable by allowing for strings in the dictionary/list.

[2020-01-28 15:48] arose13 opened #279 "[FEATURE] Bayesian Kernel Density Classifier"
- I've been using this Bayesian kernel density classifier for a few years and I thought I should move it out from my poorly organized project to this one here.

The prior is $P(y=0)$. I primarily use it for spatial problems.

It is similar to the GMM Classifier with only 2 caveats I can think of.
- Hyperparameters are easier to decide on.
- Scaling is worse as I believe due to the KDE part scaling

[2020-01-28 17:11] koaning commented on #279
I am open to this actually and am happy to hear you’ve considered this project. @MBrouns thoughts? There’s a few thoughts on my side.

- do you have an example for the docs that can help defend this approach? it is similar to gmm so it would be nice to demonstrate the difference and where it might be better.
- does it make sense to also offer an outlier detector with this approach?
- could you rep

[2020-01-28 19:00] arose13 commented on #279
@koaning very cool! kk.

- By docs you mean a paper or just a jupyter notebook or something like that?
- It is possible in principle to use it as an outlier detector. Especially since your other outlier detectors don't mind using arbitrary thresholds of likelihoods for calling something an outlier.
- The prior in this case is the probability of y=0 being the proportion of y=0 in the training datas

[2020-01-28 20:16] koaning commented on #279
By docs I mean a short thing in a jupyter notebook. If you look at, per example, our [fairness documentation](https://scikit-lego.readthedocs.io/en/latest/fairness.html) or our [meta model stuff](https://scikit-lego.readthedocs.io/en/latest/meta.html#Confusion-Balancer) you might get an impression of what we're going for. One possibility is to demonstrate how it is different to a GMM approach and

[2020-01-29 07:43] koaning commented on #279
Another thought popped in. Could the usage of the prior be something that can be turned off or set manually? There are moments when a prior from domain knowledge is better than what the dataset can provide.

[2020-01-29 07:58] MBrouns commented on #279
I think I’m open to this as well. I would like to see a notebook though comparing it to the gmm version as I’m having a hard time reasoning through the differences in behavior atm.

 Also, there’s some sklearn specific things that you currently don’t adhere to. I’ve written down my thoughts on this here: https://www.mbrouns.com/posts/2020-01-26-sklearns-init/. It might be good to read through that

[2020-01-29 13:32] arose13 commented on #279
@koaning 100% the prior could be made into any arbitrary function and set manually.

@MBrouns and @koaning I'll whip up a notebook today by end of day today. The difference are subtle but clear depending on the situation so I'll make sure to demonstrate that

[2020-02-02 14:49] jilljenn opened #280 "[DOCS] Adding references to the fairness section"
There should be more references in the [fairness](https://scikit-lego.readthedocs.io/en/latest/fairness.html) section of the documentation.

From your code I noticed:

- M. Zafar et al. (2017), Fairness Constraints: Mechanisms for Fair Classification

I guess there is also:

- M. Hardt, E. Price and N. Srebro (2016), Equality of Opportunity in Supervised Learning

[2020-02-02 14:54] MBrouns commented on #280
Good catch, thanks! I just opened #281.

I'm not sure about adding the reference also to the EqualOpportunityClassifier as its current implementation is more an adaptation of Zafar et al.'s work to the equal opportunity score, rather than a proposed implementation of Hardt et al.  What do you think?

[2020-02-02 15:03] MBrouns commented on #277
Regarding monotonicity, XGBoost does the following:

[code]

While I'm not necessarily convinced that that is the best way, there is something to say for keeping it compatible.

The first suggestion could theoretically allow a misspecification where a colum is both positive and negative.

The second approach allows for easy compatibility with the xgboost method. Pass a dictionary and it behaves li

[2020-02-02 15:16] jilljenn commented on #280
Gosh. You. Are. Fast. Great.

I was mainly referring to the docs themselves, so [this file](https://github.com/koaning/scikit-lego/blob/master/doc/fairness.ipynb). (By the way, I didn't know Sphinx was converting notebooks to documentation pages, was it through pandoc?)

[2020-02-02 15:20] MBrouns commented on #280
Ah yes, we also use it there of course.

We use [nbsphinx](https://nbsphinx.readthedocs.io/en/0.5.1/) to parse `.ipynb` files and so far that's been working quite nicely for us

[2020-02-02 16:45] MBrouns commented on #280
Fixed in #281

[2020-02-02 16:45] #280 closed

[2020-02-02 17:03] koaning commented on #279
Haven't heard from this. No rush. Just wanted to check :)

[2020-02-02 17:04] koaning commented on #266
Here's a heuristic approach I might want to propose.

![image](https://user-images.githubusercontent.com/1019791/73611840-68b97280-45e6-11ea-86dd-8bc90ed99281.png)

[2020-02-02 17:05] koaning commented on #266
My only caveat here is that this idea only works if `X_orig` and `X_new` are of equal length. We might be able to ignore that by doing (bootstrap-style) sampling.

[2020-02-02 17:05] koaning commented on #266
@MBrouns does this feel like a worthwhile starter?

[2020-02-02 17:08] koaning commented on #277
Anything against allowing both? The misspecification can be dealt with via `ValueError`.

[2020-02-02 17:13] koaning opened #282 "[BUG] black and flake disagree"
This is cool with `black` but not with `flake8`

[code]

What flake8 wants;

[code]

Can I put flake8 back into pre-commit?

[2020-02-02 17:50] arose13 commented on #279
Whoops sorry.

https://colab.research.google.com/drive/12z28LCt2Y76smB01w2QizK3_cCo-6y2G

I never noticed how bad scaling is on larger than of the academic datasets and that actually has been a big thing. I've used it on 2D species distributional data (I'm trying to see if I am allowed to use that dataset for the notebook).

[2020-02-02 18:03] koaning commented on #279
You notebook states;

For training the GMM. I don't know how sklearn does it internally, but I wonder how the EM algorithm has that bound. Got a reference for it? Mostly out of my own curiosity.

[2020-02-02 18:29] arose13 commented on #279
I don't know precisely for sklearn either but I figured since the expectation step has to perform a dot product as the most expensive step to compute the expectation that would be p^3 (and apparently ~p^2.3). It should also scale linearly with the number of clusters.

(Not an academic level citation I know but https://en.wikipedia.org/wiki/Computational_complexity_of_mathematical_operations#Matrix

[2020-02-02 19:08] MBrouns commented on #277
Sure, that seems ok!

[2020-02-02 19:14] MBrouns commented on #266
Good to get started on something like this!

Question: Do you have an idea on how using wasserstein on the likelihoods compares to only taking the likelihood of L_new given d_orig?

[2020-02-02 19:16] MBrouns commented on #266
Also, something that might be relevant to know for this: there are interesting probabilistic data structures for on-line quantile accumulation (https://github.com/tdunning/t-digest)

[2020-02-02 19:16] MBrouns commented on #282
Yep, that's fine!

[2020-02-02 19:17] koaning commented on #266
I've checked the [python variant](https://github.com/CamDavidsonPilon/tdigest) but it only seems to update single dimensional data structures. This will work on a single column, but not an entire dataset.

[2020-02-02 19:18] koaning commented on #266
I have one likelihood per row in each dataset. I need a method of comparing those. Wasserstein seems to have properties that we like.

[2020-02-02 19:25] MBrouns commented on #266
Wouldn't comparing the (bootstrapped) likelihood of the entire set work? e.g. take n samples from both sets, sum the logp's for all observations in that sample and see if the likelihood of X_new is higher than X_orig.

[2020-02-02 20:16] koaning commented on #279
Strange. I copied your notebook and seem to have a significantly different result at the bottom. The colab can be found [here]().

![image](https://user-images.githubusercontent.com/1019791/73614629-2d786d00-4601-11ea-9e8f-140055038382.png)

[2020-02-02 20:23] koaning commented on #266
There's a property about earth-movers-distance that I wouldn't want to ignore.

Let's suppose we compare these two distributions;

![image](https://user-images.githubusercontent.com/1019791/73614686-a8da1e80-4601-11ea-80f0-bbe428efebd1.png)

The original dataset is marked. A direct comparison of likelihoods would suggest overlap and wassersteins distance would be modest.

Now imagine that they dri

[2020-02-02 20:27] arose13 commented on #279
That is extremely strange. I've requested access to your colab notebook, but I'll rerun to see what is going on. This make more sense anyway because when I was trying to rerun it, again and again, I couldn't figure out why everything was losing performance for very large sample sizes.

[2020-02-02 20:28] koaning commented on #266
And yes. This is me figuring out what remote communication will be like for this project.

[2020-02-02 20:30] koaning commented on #279
EM is typically stochastic so there's a risk of getting stuck in a bad local. That's my 5 cents.

[2020-02-02 20:40] arose13 commented on #279
That link worked. While that could explain the GMM results I observed I couldn't explain the KDE results also.

Update: I was able to get similar results to you on a fresh start of my notebook this time. I guess it was a strange Heisenbug.

[2020-02-03 18:27] koaning commented on #210
After thinking about it (and while eating a portuguese cake) I came to a proposal for this. In general we'd be interested in metrics that we supply ourselves and maybe we're interested in selecting a set of models. We might go for a hindsight selector ... but maybe we need ...

## ParetoGridSearch

Here's the idea. There are many models that are tried. Suppose we want both precision and recall to

[2020-02-05 18:38] arose13 commented on #279
https://colab.research.google.com/drive/12z28LCt2Y76smB01w2QizK3_cCo-6y2G

I add a species example. Turns out sklearn has a species dataset so you can see a real expected use case

[2020-02-05 19:30] koaning commented on #279
at the end all algs seem to drop again with a large ‘n’ ... maybe increase
the number of iterations to be sure it converges properly?

On Wed 5. Feb 2020 at 19:38, Stephen Anthony Rose <notifications@github.com>
wrote:

--

*- Vincent*

[2020-02-05 20:46] arose13 commented on #279
I finally found the real bug causing the problem. It's fixed now tho.

Problem was a line like this when subsetting the data. `x_subset = x[:len(x)]`

[2020-02-05 21:44] arose13 commented on #279
Also, @MBrouns which part of the code specific does the class not adhere to `sklearn` style? I assume something is wrong with the `__init__` method but after comparing it to a few `sklego` classes I don't see what you're seeing.

[2020-02-05 22:00] MBrouns commented on #279
It's quite subtle, but in the `__init__`, the `classes_`, `models_`, and `priors_logp_` attributes are initialized. This causes `check_is_fitted` to think that the model has already been fitted (because there exist attributes with a trailing underscore on the class).

[2020-02-06 09:22] koaning commented on #279
@arose13 Feel free to start working on an implementation and PR. As for the docs, it would be preferable if you could condense it down. Mostly in terms of compute time, we might want to have these docs auto generate and we prefer to have the docs build in mere minutes.

[2020-02-06 09:25] koaning commented on #279
[code]

Looking at this implementation;
- all the things you're adding in the `__init__` should **not** have a trailing underscore
- all the things you're adding in the `__init__` should be verified (and perhaps raise `ValueError`) in the `.fit()` method
- all of the attributes added in the `.fit()` method need to be checked if they exist in the `predict` methods with `check_if_fitted`

[2020-02-06 15:40] arose13 commented on #279
Okay cool, I'll open a work in progress pull request. I'm not sure where to put it actually. I was going to put it in the `naive_bayes` submodule since similar classifiers are there but this nor any of the classes there implement very 'naive' Bayes. But that's a small potato.

[2020-02-06 19:40] koaning commented on #279
https://github.com/koaning/scikit-lego/pull/283

[2020-02-07 08:13] koaning commented on #279
**and now for something completely different**

@arose13 if there are any lessons you've learned while implementing this feature, feel free to add it here;

https://github.com/koaning/scikit-lego/issues/106

This library offers a poem with words of wisdom that will appear once you type;

[code]

[2020-02-07 15:52] arose13 commented on #279
lol! That's very cute. I'm not much of a poet, so I'll to think very hard about this one ^_^

[2020-02-08 15:14] koaning opened #285 "[BUG] Interval Encoder ... how to deal with edge quantiles"
There's the effect of using the `IntervalEncoder`.

It works swell ... but! ... look at the top left example ...

![image](https://user-images.githubusercontent.com/1019791/74087569-eb7e7980-4a8d-11ea-91ab-b16cbfb2bb98.png)

Do we really like that jump the orange line does there at the end? It feels like maybe when we create these quantiles we should maybe artifically remove the outer ones ... the

[2020-02-08 21:43] MBrouns commented on #285
It's an interesting behaviour, which I wouldn't really expect as the amount of observations for each interval should be the same.

Dropping the outer intervals seems a bit drastic though. Could adding a `median` method next to the `average` and `normal` help here?

[2020-02-08 21:52] koaning commented on #285
Sure, but it's not those methods that I'm worried about. It's the monotonic ones ...

[2020-02-08 21:54] MBrouns commented on #285
ugh yea my bad, it's late apparently

[2020-02-08 21:58] koaning commented on #285
No worries. I do wonder about a neat solution for that issue though. Removing outer quantiles might be an ok thing to do.

[2020-02-09 20:34] koaning opened #287 "[BUG] `give_pandas` to become `as_frame`"
Currently our API uses `give_pandas=True` if we want to return the pandas dataframe. Scikit-learn has chosen for [another standard](https://scikit-learn.org/dev/whats_new/v0.23.html#sklearn-datasets). We should follow theirs.

![image](https://user-images.githubusercontent.com/1019791/74109428-b2c0cc00-4b83-11ea-84f9-9504f9898b0a.png)

[2020-02-09 20:35] koaning opened #288 "[DOCS] datasets are currently undocumented"
It would be nice to have a notebook that shows a plot and a few rows of all the datasets that we have.

[2020-02-09 20:36] #272 closed

[2020-02-09 20:37] #209 closed

[2020-02-11 21:22] koaning opened #289 "[FEATURE] add the HEARTS dataset"
The [tensorflow lattice documentation](https://www.tensorflow.org/lattice/tutorials/keras_layers) links to a [dataset](http://storage.googleapis.com/applied-dl/heart.csv) that might be nice to add to our little library. It might be good to demonstrate the merit of adding monotonic constraints.

[2020-02-11 21:22] koaning commented on #67
Since this is nearly a year old and nothing happened I am closing this manually.

[2020-02-11 21:22] #67 closed

[2020-02-11 21:23] koaning commented on #48
Closing this ... the user who posted it left?

[2020-02-11 21:23] #48 closed

[2020-02-11 21:31] koaning commented on #289
Turns out it orignally was found [here](https://archive.ics.uci.edu/ml/datasets/Heart+Disease).

[2020-02-12 07:44] koaning opened #290 "[DOCS] Bayesian Kernel Density"
We might want to combine the GMM stuff with this under a `probabilistic` banner.

[2020-02-12 08:05] koaning opened #292 "[DOCS] grouped metrics lack documentation"
Feels like a good thing to add.

[2020-02-12 08:06] koaning opened #293 "[DOCS] confusion balancer is misaligned"
needs to be h2 instead of h1

![image](https://user-images.githubusercontent.com/1019791/74315061-f6c7f280-4d76-11ea-8ed5-108e3c2e5280.png)

[2020-02-12 08:09] koaning opened #294 "[DOCS] ProbWeightRegressor needs documentation"
We have the api [here](https://scikit-lego.readthedocs.io/en/latest/api/API%20Reference.html#sklego.linear_model.ProbWeightRegression) but it would be nice to add an example of it.

[2020-02-12 08:13] koaning opened #295 "[DOCS] preprocessing API gone"
Probably when we preprocessing part of the library got split up into a folder we forgot to make sphinx aware of it. Docs look like this now;

![image](https://user-images.githubusercontent.com/1019791/74315460-c3d22e80-4d77-11ea-8a84-23d159443edc.png)

[2020-02-14 07:40] RensDimmendaal commented on #23
@koaning : How does this proposal differ from setting voting="soft" in [sklearn.ensemble.VotingClassifier](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.VotingClassifier.html)?

[2020-02-14 08:17] koaning commented on #23
I'll make it slightly clearer what I am thinking about here.

Consider that we have an ensemble of three models. They each have a confusion matrix and at the time of inference they each come with a prediction for class `B`.

![image](https://user-images.githubusercontent.com/1019791/74513307-8e117f00-4f0a-11ea-8cc9-253fceee5f1e.png)

Do we really trust what model A has to say here? When it predict

[2020-02-14 08:34] koaning commented on #207
This issue is now supported in sklearn via [FuncTransformer](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.FunctionTransformer.html).

[2020-02-14 08:34] #207 closed

[2020-02-14 08:46] koaning opened #296 "[FEATURE] hall of fame"
if we're gonna do a sprint someday, it might be nice to add a hall of fame. feature?

https://github.com/sourcerer-io/hall-of-fame

[2020-02-14 08:49] koaning commented on #279
This is now merged.

[2020-02-14 08:49] #279 closed

[2020-02-14 18:33] koaning opened #297 "[BUG] conda does not update automatically"
@MBrouns dunno if we want to automate this, but can you push to conda?

[2020-02-15 18:57] MBrouns commented on #297
There's an automatic PR in the feedstock project that needs to be merged (https://github.com/conda-forge/scikit-lego-feedstock/pull/2). Do you get those notifications as well? I think we could automate that but as it doesn't auto-update dependency changes I'm not sure we should

[2020-02-18 10:45] koaning commented on #297
Ah. I'll watch that.

Doing that manually seems fine.

[2020-02-18 22:06] #297 closed

[2020-02-19 23:16] koaning opened #298 "[FEATURE] FairnessWarning"
if we have datasets where fairness is an issue, maybe it is naive to assume that folks will read the documentation. raising an explicit fairness warning might be a good idea. it's part of what could have gone better with the load_boston dataset.

@MBrouns agree?

[2020-02-22 10:48] MBrouns opened #299 "[DOCS] There's no mention of the datasets in the docs"

[2020-02-22 11:49] koaning opened #300 "[FEATURE] boston housing"
sklearn wants to get rid of it ... should we have it as a fairness lesson?

[2020-03-02 11:15] koaning opened #303 "[FEATURE] scikit-fairness"
I've been mulling over this for a while.

If we want to make it *easy* for people to use fairness algorithms ... should we not have a scikit-fairness under scikit-contrib? It's not just that this might make it easier for folks to pick up but it would also gather attention of folks who are interested in benchmarking. This would be amazing in terms of robustness. If there's a crowd vetting the softw

[2020-03-02 11:24] koaning commented on #303
There's also the argument of making tools that are specific. Scikit-lego has a small risk of becoming a bit too "broad".

[2020-03-02 12:52] MaxHalford commented on #303
Big +1 from me. There's already some tentatives at libraries, such as [AIF360](https://github.com/IBM/AIF360). There's also a lot of bits of code scattered around GitHub. However I don't believe I've seen a clear library with a nice API design.

[2020-03-02 20:53] MBrouns commented on #303
Yep I like it too. Good to keep this library smaller and add something that's more focussed

[2020-03-03 12:37] koaning commented on #303
It might be good for some of us have a peek at [the onboarding form](https://github.com/scikit-learn-contrib/scikit-learn-contrib/blob/master/workflow.md).

[2020-03-06 14:47] tomderuijter opened #304 "[FEATURE] Pandas-to-pandas pipelines"
# Problem
As far as I know, allscikit-learn transformers support pandas dataframes as their inputs, but most change the type back into a numpy array. This is frustrating as we lose track of which column means what, for example:

- when applying transformer-only pipelines,
- when the number of columns increases in a pipeline, for instance when computing derived features,
- when columns are dropped

[2020-03-06 17:24] koaning opened #305 "[FEATURE] Concatenating Transformers"
In scikit-learn, we sometimes forget when we transform.

Take PCA.

[code]

We forget the input matrix `X` and instead get a new matrix `X_pca` where we loose information. Many times this might be what you want ... but what if you'd like;

[code]

It might make sense to add a meta estimator such that we append data instead of replacing it.

Anybody have strong thoughts about this?

[2020-03-06 17:29] koaning commented on #305
I guess a `FeatureUnion` might be a better idea... but then we'll need an `IdentityTransformer` ... unless scikit-learn allready has this.

[2020-03-06 17:31] koaning commented on #304
Hi @tomderuijter. Thanks for the preparation of this issue :)

It's interesting you mention this, we've been munging over this issue as well for a while.

A few things jump to mind on my side, but @MBrouns probably also has good things to mention here.

1. I believe scikit-learn at some point wants to adopt the pattern for [structure arrays](https://docs.scipy.org/doc/numpy/user/basics.rec.html) i

[2020-03-06 17:35] koaning commented on #300
we should. but the docs/docstring need to explain the controversy clearly.

[2020-03-06 20:37] MBrouns commented on #304
Hi @tomderuijter, thanks for the elaborate issue!

It seems like the [current idea](https://scikit-learn-enhancement-proposals.readthedocs.io/en/latest/slep007/proposal.html) on `scikit-learn`s side is to implement a `feature_names_in_` and `feature_names_out_` attribute to transformers to allow richer introspection on pipelines. That SLEP is currently under review which means it's probably still

[2020-03-10 17:50] fhr opened #306 "[DOCS] Call out to some more existing academic classifications of fairness in the docs about this section"
I'm really pleased that you're building these tools and have put in so much work already, it looks great.

I think that the discussion of "fairness" in this section could be further expanded and structured in an audience-friendly way, and would suggest e.g. using the overview framework starting from p18 of https://www.turing.ac.uk/sites/default/files/2019-06/understanding_artificial_intelligence_e

[2020-03-10 18:51] koaning commented on #306
Hi @fhr nice to see ya here after Qcon :)

Have you seen [this discussion](https://github.com/koaning/scikit-lego/issues/303)? We're considering taking the fairness parts out of scikit-lego and putting them into a new effort: scikit-fairness. The hope is that this might attract more people to collaborate and it could be an official contrib package.

Personally, I'm super interested in what you're

[2020-03-10 21:00] koaning commented on #306
After thinking about it ... I might need to rephrase that differently.

@fhr would you, or do you know folks who might, be interested in helping out with a project like scikit-fairness. I certainly imagine that your connection to datakind might help here.

[2020-03-11 10:27] fhr commented on #306
@koaning I hadn't seen that discussion. I think it makes a lot of sense to take this out into a different effort, as it's of a quite different type to scikit-lego and will hang together on its own IMO.

I definitely think that the Datakind community would be very interested. What's a good way to get them involved - point them to a repo? Ask for specific skills? There is an active fairness and ethi

[2020-03-11 12:19] koaning commented on #306
I am having an in-person meeting on tuesday about the formal steps. I'll keep you in the loop.

I can certainly imagine on the documentation/content side of things, say examples of datasets with issues and tricks to go about them, Datakind has a lot to offer. I was planning on adding content on [calmcode.io](calmcode.io) but it might be a good idea to perhaps add course material for meetups who wa

[2020-03-11 12:20] koaning commented on #303
It is my understanding that we'll now have an in-person meeting on tuesday. It might be good to have a look at packages that try to do something similar before we meet.

- https://github.com/IBM/AIF360
- https://github.com/dssg/aequitas
- https://github.com/fairlearn/fairlearn

[2020-03-11 14:07] tomderuijter commented on #305
`FeatureUnion` might work functionally, but I thought it duplicates data internally not making it very efficient if you have a lot of transformers in your union.

[2020-03-11 15:06] tomderuijter commented on #304
Hey @koaning, @MBrouns, thanks for your elaborate responses.

@koaning regarding your remarks:
1. Nice, I did not know that. What's the timespan on this?

2. I totally agree, let's stay consistent and choose object oriented. Then joblib pickling is no longer an issue as well. I found it to work nonetheless if you use cloudpickle as the pickle engine.

3. Yes. You can verify that with the following

[2020-03-11 15:52] fhr commented on #303
Thanks for the mention @koaning . I think there are a lot in the DataKind volunteer community who'd be well placed to contribute, as they're interested & skilled in the intersect between code and fairness questions. Maybe lmk after your in person meeting if that still seems like it would be helpful.

Also, the document I referenced before (https://www.turing.ac.uk/sites/default/files/2019-06/under

[2020-03-12 10:38] koaning commented on #303
@fhr the meeting I mentioned we'd have on tuesday is virtual now. i just got an email from Qcon that made me consider virtual is best for now. don't feel oblidged but you're welcome to join if you're interested.

[2020-03-12 10:40] fhr commented on #303
thanks, invite would be v welcome.

On Thu, 12 Mar 2020 at 10:39, vincent d warmerdam <notifications@github.com>
wrote:

[2020-03-12 10:48] koaning commented on #303
@fhr could you send me your email via a personal message on linkedin?

[2020-03-12 11:13] koaning commented on #304
To answer the latter comment. @tomderuijter should this feature go into the library, would you be willing to help support it for the next year or two?

[2020-03-12 11:19] koaning commented on #305
Machine Learning in general isn't efficient ... at all. The question is if it is effective ;)

Part of me wonders if changing something like `FeatureUnion` is changing something that is just a bit **too** fundamental in scikit-learn. For scikit-lego to work it needs to be a second class citizen. I may be fine with a loss of efficiency from a design perspective.

In general.

[code]

Also ... the r

[2020-03-12 11:42] tomderuijter commented on #304
Yes, definitely.

On Thu, 12 Mar 2020 at 12:13, vincent d warmerdam <notifications@github.com>
wrote:

[2020-03-12 14:47] koaning commented on #304
In that case. I think we should wait until `get_feature_names` is a bit more mature before we explore supporting that here. Designing for it now while it is still early feels like a premature optimisation.

I would be cool with a `DataFrame` transformer (it may also really help with some of our internals). In situations where the shape does not change I think keeping the names the same should suff

[2020-03-14 16:36] koaning commented on #299
The goal would be to have a page added here;

![image](https://user-images.githubusercontent.com/1019791/76686256-5f2a1e00-661a-11ea-9748-f68eaa03586c.png)

[2020-03-16 12:27] janvdvegt opened #307 "[FEATURE] CV solution for anomaly detection without outliers during training"
With anomaly detection, if you have labeled outliers there are two types of models. The first one requires the outliers, although regularly unlabeled. Isolation forests fall in this category. One class SVM specifically works better without the outliers in there. Properly evaluating this model does require the outliers though. The current sklearn setup does not allow for this case (I believe). It w

[2020-03-16 15:58] koaning commented on #307
Just to confirm. The proposal is to create a new CV method that accepts an outlier detector part of it's initialisation?

I certainly see some merit to this idea. Got an example of what the API might look like?

[2020-03-17 11:09] janvdvegt commented on #307
I think I mean something slightly different. There are outlier detection methods that only work when there are no outliers in the training data, in that sense, they are more like novelty detection. Of course, these outliers are very important for properly evaluating the hyperparameters and performance in general. So let's say we have `X` which contains our features and we have `y` that contains wh

[2020-03-17 15:27] koaning commented on #307
Just for confirmation. This is the situation?

[code]

1. We first generate a split, this gives us `A, B`.
2. First `A` is the training set, we keep the outlier? We remove it in `B` before it is passed to another pipeline?
3. Then `B` is the training set, we keep the outlier? We remove it in `A` before it is passed to another pipeline?

If you want to throw out novely before passing it to another

[2020-03-17 15:32] MBrouns commented on #307
I think it's the other way around @koaning. The train set should not contain the outliers, so if A is the training set in step 2, we remove observation with X=1.

There's not necessarily a link with other pipelines or models, the idea here I think is if your outlier removal is a gmm, you don't want the known outliers to be in there as the might skew your fitting on 'normal' data. In validation you

[2020-03-17 15:35] MBrouns commented on #307
`y` is definitely available in the cv's `split` method, `StratifiedKFold` relies on this for example

[2020-03-18 11:52] janvdvegt commented on #307
Then it should not be too difficult. One issue with this approach however is that it seems like you would have to implement it for every different CV strategy. Is there a way around this if you take this approach? It might be possible to extend current CV strategies by inheritance and add an additional filter to the training fold but this would require an additional pass over the data.

[2020-03-27 10:55] timvink commented on #300
Good background article: https://medium.com/@docintangible/racist-data-destruction-113e3eff54a8

You already mention what `B` stands for in https://scikit-lego.readthedocs.io/en/latest/fairness.html#Measuring-fairness-for-Classification.

What contribution are you looking for specifically?

[2020-03-27 12:03] koaning commented on #300
Scikit Learn will remove the boston housing dataset because of the controversy. This is a good thing too. It should not serve as a dataset that demonstrates how easy it is to get started with machine learning.

It *does* serve as a dataset that demonstrates the danger though. Which is why we were thinking of adding it here.

It should be said though, there's a new effort that we've started. One th

[2020-03-27 12:05] koaning commented on #300
If you're interested in contributing on this issue -> let me know. It sould just be the addition of the dataset to the scikit-fairness repo.

[2020-03-30 11:36] Pverheijen opened #308 "[FEATURE] Add make_debug_pipeline"
I'd like to see the make_debug_pipeline function added.
(make_pipeline from scikit-learn is also missing, but that's just copy paste I guess.

I'd like to work on it in my spare time to get more familiar with contributing to open source projects.

[2020-03-30 19:34] koaning commented on #308
Just so I understand ... what do you mean with `make_pipeline` from scitkit-learn is also missing?

[2020-03-30 19:35] koaning commented on #308
That said ... I don't see a reason not to also include `make_debug_pipeline`. Just pinging @MBrouns @JCZuurmond in case.

[2020-03-30 19:41] Pverheijen commented on #308
Never mind the make_pipeline, mistake from my side. We can just import it from sklearn...

[2020-03-30 19:42] koaning commented on #296
I have some concerns about this now.

1. There's something to be said about a clean readme. It welcomes newbies who want to learn the tool and I fear that such a hall of fame is going to be distracting.
2. It may be better though if we add something to the documentation.

[2020-03-30 19:48] MBrouns commented on #308
Aye we discussed this in a training last week, I'm +1 for adding a make_debug_pipeline

[2020-03-31 09:08] koaning commented on #296
Will assign @pverheijen

[2020-03-31 09:24] Pverheijen commented on #296
Hi there,

I've added a separate page for Hall of Fame in the docs.
Furthermore I've added this separate page to the index.

Pull request that contains these changes:
Addded Hall of Fame to the docs under contribution

@Mbrouns thank you for helping

[2020-03-31 11:29] koaning commented on #308
Cool. In that case, @Pverheijen go right ahead and let us know when you appreciate a review.

[2020-03-31 12:36] Pverheijen commented on #308
Could some review my pull request for this feature?
[https://github.com/koaning/scikit-lego/pull/311](url)

("Implemented make_debug_pipeline in sklego.pipeline and fixed a bug #311")

Thank you in advance!

[2020-03-31 20:56] koaning commented on #296
Reminder (for me) to look at this later: https://allcontributors.org/.

[2020-04-01 15:08] tomderuijter commented on #304
I'd love to contribute. Can I make a pull request for a `DataFrame` transformer or what is wisdom as we say in Dutch.

[2020-04-01 18:51] koaning commented on #304
When I saw dis error, I thought "what is on the hand?" but den i totally forgot about dis.

Dutch accents aside, go for it :) I would keep it as simple as possible such that it is not set in stone, keeping in mind that scikit-learn may cover this ground at some point.

[2020-04-01 20:07] #308 closed

[2020-04-03 09:51] koaning commented on #305
@MBrouns I think having an `IdentityTransformer` might be good to have, but I am doubting because technically scikit-learn allready supports this via their [FunctionTransformer](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.FunctionTransformer.html#sklearn-preprocessing-functiontransformer).

My gut is suggestiong "screw it, let's just add it ... the whole point of this l

[2020-04-04 10:14] MBrouns commented on #305
I'm okay with adding an IdentityTransformer. I'm not sure how often it's useful but considering you can build it on top of the `FunctionTransformer` there's also not really any maintenance overhead

[2020-04-04 18:31] koaning opened #316 "[BUG] ValueError in _RepeatingBasis"
I was running code coverage to see what code was not covered.

![image](https://user-images.githubusercontent.com/1019791/78458623-275f4500-76b3-11ea-8d0c-f337768faf6d.png)

@RensDimmendaal it feels like the message in the error is off, would I be correct? If so, this might be a great beginner issue.

[2020-04-05 08:05] RensDimmendaal commented on #316
Thanks for bringing that up.

I believe the error message is correct, but the if statement above is not. it should be `if X.shape[1] != 1`. X should have exactly one column, like the error message says.

X should not be a one dimensional array, as the if statement says, but that check is not necessary because the `check_array` function above already does that.

Good beginner issue to fix and add a

[2020-04-06 07:41] sergiocalde94 commented on #316
Hi! I would like to become a contributor.

If you want I can start with this issue :)

Is there any guide to become a contributor of this package?

If not, tell me and I will clone the repo and make a PR to you with the changes proposed by @RensDimmendaal

[2020-04-06 08:52] koaning commented on #316
There should be a small contribution guide here: https://scikit-lego.readthedocs.io/en/latest/contribution.html. If that is "not enough" -> let us know here and we will help you (and feel free to add anything to the guide that is missing).

[2020-04-06 16:23] koaning opened #318 "[FEATURE] WordPartVectorizer"
If you look at the [CountVectorizer](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html) in scikit learn you'll notice a few settings for the analyser. You can set that you'd like ngrams for words ... but also ngrams and word_ngrams.

What is does not do however is do it for word-parts.

Take the word grasshopper, how is it pronounced?  "grass -

[2020-04-07 19:28] sergiocalde94 commented on #316
I didn't found a commit names standard or something like that, tell me if I have to change something!

[2020-04-08 10:34] koaning commented on #316
It's merged!

[2020-04-08 10:34] #316 closed

[2020-04-13 19:22] koaning opened #321 "[BUG] PatsyTransformer does not detect custom functions"
The spec should allow for it.

[code]

[2020-04-13 19:22] koaning commented on #321
This code gives;

[code]

[2020-04-15 07:50] xalelax commented on #300
It sounds interesting, is this still up for grabs? Should one contribute to this issue or to scikit-fairness directly ( https://github.com/koaning/scikit-fairness/issues/16 )?

[2020-04-15 08:06] koaning commented on #300
Scikit-Fairness is in flux at the moment. There's some similar projects and we need to check where to consolidate it. If you're interested in making a PR in general, I might advice another issue. If you're set on doing this, then fairness seems preferable for now.

[2020-04-15 09:28] koaning opened #322 "[FEATURE] spaCy transformer"
I fear it will be a ton of dependencies, but this is a fair use-case for the library no?

I was considering adding it to [whatlies](https://rasahq.github.io/whatlies/) but then I was wondering if it makes more sense to place here.

@MBrouns ?

[2020-04-16 10:45] timvink commented on #300
Sorry for the late reply. I was -- then realised I took up a bit too much OS work on the side.

[2020-04-18 14:00] koaning commented on #300
@xalelax are you interested in creating the PR for boston on scikit-fairness or is this something that i can pick up?

[2020-04-19 13:06] koaning opened #323 "[FEATURE] make_outlier_scorer"
From [this](https://koaning.io/posts/outliers-selection-vs-detection/) blogpost. It would be nice if we have a variant for "make_scorer" that can take metrics meant for classification and allow them to also be used to measure outlier detection algorithms.

[code]

[2020-04-19 18:43] koaning commented on #323
This might be better as a Meta model now that I think about it.

@MBrouns, can I go ahead or do you have concerns?

[2020-04-19 20:13] koaning commented on #323
This is my idea now. Instead of this;

[code]

You might be able to do;

[code]

[2020-04-20 08:03] MBrouns commented on #323
Hm that's an interesting question, which is slightly difficult to answer given that I don't really understand the rationale behind making outlier detectors return -1 and 1 in sklearn. Both approaches have their merit I think:

The meta-model approach makes it behave like a classifier, which is probably what you want in most cases anyway.

Let's say though that at some point sklearn might introduce

[2020-04-21 06:21] koaning commented on #323
I think the choice for `-1` is because of algorithms like DBSCAN that do both clustering and outlier detection in one go. We could also both make the meta model as well as a make_outlier_scorer. Give the user both options?

[2020-04-21 06:40] koaning commented on #322
I will first add a spaCy feature and make it an optional dependency. Once that is done, we may include huggingface as well.

[2020-04-21 12:46] xalelax commented on #300
@koaning sorry, I read that just now. I am interested, but quite swamped at the moment, so I cannot work on it. Pick this up if you want!

[2020-04-21 20:25] koaning commented on #300
@xalelax No worries. @MBrouns will implement this on the fairness side.

[2020-04-24 08:16] koaning commented on #300
It has now been added to the fairness repo.

[2020-04-24 08:16] #300 closed

[2020-04-27 10:22] zbenmo opened #325 "[BUG]"
In order to help us fix a potential bug we need:

- [ ] a clear and concise description of what the bug is.
- [ ] code that helps us reproduce this
- [ ] **optional** a unit test that helps us catch the bug in the future

I'm using 'GMMClassifier'. Training on a balanced set (binary classification). Testing on the training data, the classifier is perfect.

I have a "test" data that should all go t

[2020-04-27 10:45] zbenmo commented on #325
I see that is a warning, and that it is actually working. Closing.

[2020-04-27 10:45] #325 closed

[2020-04-28 13:30] tomasborrella commented on #295
I was looking for a good first issue to contribute, and I've found this one, but it seems to be fixed in the current version, isn't it?

[2020-04-28 19:57] koaning commented on #295
You'd be correct. There's still some work to be done in the docs though.

For example; it'd be nice if the API wasn't a long list on a single page, but something more like [this](https://scikit-fairness.netlify.app/api/datasets.html). Fixing that requires an understanding of rst though.

Another idea; run `codespell` on our docs to see if there's a common spelling error in the docs (odds are that

[2020-04-28 19:57] koaning commented on #295
If instead you spot something in the docs that could be made "more clear": feel free to comment on that.

[2020-04-30 17:04] tomasborrella commented on #295
I like your project and I'd like to be able to help out, so I'll take a look at the two points you mention to start with:
+ `ReStructuredText` to try to make API section nicer.
+ `codespell` project for to look for misspellings

Do you think is it a good idea to open new issues for those two points and close this issue? (just for clarity) or do we keep the conversation here?

[2020-05-01 10:05] koaning commented on #295
You are free to turn those into issues, once you've done that I'll close this one.

[2020-05-01 15:42] tomasborrella opened #326 "[DOCS] Make API section nicer"
It would be nice if the API wasn't a long list on a single page, but something more like [this](https://scikit-fairness.netlify.app/api/datasets.html).

Fixing that requires an understanding of rst though.

[2020-05-01 15:46] tomasborrella opened #327 "[DOCS] look for misspellings in documentation"
run codespell on our docs to see if there's a common spelling error in the docs
(odds are that there's one or two in the code too).

[2020-05-01 15:47] tomasborrella commented on #295
Cool! I've created the two isues:
[#326](https://github.com/koaning/scikit-lego/issues/326)
#327

So you can close this one. I'll started working on one of them during the weekend :)

[2020-05-01 16:29] koaning opened #328 "[FEATURE] GridSearch results linter"
@MBrouns had a great idea. Let's raise some warnings if we smell something iffy in the gridsearch results.

Here's some ideas;

1. If there's a huge difference between train and test is too big.
2. If there's a lot of variance within folds of the chosen model.

[2020-05-01 16:30] koaning opened #329 "[FEATURE] print_to_log redirect"
lets check if sklearn has this, if not, we should document a way to flip verbose to a logger instead of print

[2020-05-01 16:45] koaning opened #330 "[FEATURE] allow custom best_estimator picking"
@MBrouns and @koaning understand it.

[code]

Types of functions to pass in:

[code]

`best_est` is a sklearn-compatible estimator without any grid-info attached

[2020-05-01 16:47] koaning commented on #330
We can combine with this: https://github.com/koaning/scikit-lego/issues/328

[2020-05-01 18:18] #295 closed

[2020-05-01 20:16] koaning commented on #330
@MBrouns I've made an implementation and it is making me reconsider.

[code]

But applying it looks like this;

[code]

To be honest, I think it may just be nicer to start simple;

[code]

We can perhaps be more principled later, but hows about we just start with this? It's pretty expressive and unit-testable too.

[2020-05-02 08:30] koaning commented on #326
If you haven't started yet, it may be good to delay this issue until https://github.com/koaning/scikit-lego/pull/331 is merged. Instead of having everything in a big file we're moving things to folders. This may have an effect on the API section.

[2020-05-02 08:46] koaning opened #333 "[FEATURE] OutlierVoting"
When you have a look at the ensemble methods of scikit-learn [here](https://scikit-learn.org/stable/modules/classes.html#module-sklearn.ensemble) you'll see these;

![image](https://user-images.githubusercontent.com/1019791/80859517-ef233600-8c61-11ea-8061-75a1783dce66.png)

This is great. But why is there no such thing for outlier detection? One could certainly imagine making an ensemble of outli

[2020-05-02 08:46] koaning commented on #298
This has now been implemented over at scikit-fairness.

[2020-05-02 08:46] #298 closed

[2020-05-02 08:56] tomasborrella commented on #326
Cool, I'll wait. I'm geting familiar with rst in the mean time.

[2020-05-02 09:12] koaning commented on #326
Aaaaaaaaand. It's now approved/merged.

[2020-05-02 09:15] koaning commented on #276
I've removed the spellcheck. We should do this manually once in a while instead.

[2020-05-02 09:15] #276 closed

[2020-05-02 09:25] koaning opened #335 "[BUG] OutlierRemover is in wrong submodule."
`OutlierRemover` should not be in meta. It should be in `preprocessing`.

![image](https://user-images.githubusercontent.com/1019791/80860371-85a62600-8c67-11ea-9273-2527db1f5110.png)

[2020-05-02 09:25] koaning commented on #335
@MBrouns should we put a deprecation warning here while we move it?

[2020-05-02 10:06] koaning commented on #323
I've implemented the meta model now. It feels like that is the easier method for now.

[2020-05-02 19:25] koaning commented on #305
IdentityTransformer was added a while ago.

[2020-05-02 19:25] #305 closed

[2020-05-02 19:25] #296 closed

[2020-05-02 23:17] Abo7atm commented on #335
Hi, does moving the class requires more than moving `outlier_remover.py` to `preprocessing` directory? Also, can I take care of this?

[2020-05-03 08:51] MBrouns commented on #335
so it would probably be nicest to copy the class to `preprocessing`, and mark the original class in `meta` with an `@deprecated` decorator as such:

[code]

Feel free to pick this up!

[2020-05-03 09:04] koaning commented on #335
I agree with @MBrouns but I might add the extra text;

[code]

Just to make it explicit that we intend on removing it later.

[2020-05-03 20:50] koaning commented on #326
Fixed. @tomasborrella thanks again!

[2020-05-03 20:50] #326 closed

[2020-05-05 13:13] tomasborrella commented on #299
There is datasets information inside "API Reference" section. Do you think is it still interesting having a page in the first level of contents? It would be the same that is inside API rigth now or are you thinking of something different?

NOTE: There is another issue regarding Datasets #288 , but I don't know if it is out of date.

[2020-05-05 13:17] koaning opened #340 "[FEATURE] NearbyNeighborClassifier"
Let's say we have this dataset of points. The colors indicate classes.

![image](https://user-images.githubusercontent.com/1019791/81069344-0b350a80-8ee2-11ea-8cda-c35e71571c82.png)

Then a nearest neighbor classifier would look for neighbors and classify, like so;

![image](https://user-images.githubusercontent.com/1019791/81069443-299b0600-8ee2-11ea-836c-eeb0985444e7.png)

But there's something

[2020-05-05 13:27] koaning commented on #340
Come to think of it, I think the number of neighbors within a given distance is also a plausible candidate for a transformer. For outlier detection usecases it sounds valid.

[2020-05-05 14:05] koaning commented on #299
I would argue they are the same issue. I'll close down this one since the API indeed technically fixes this. Will leave the other one open.

[2020-05-05 14:05] #299 closed

[2020-05-05 14:06] koaning commented on #288
The API lists the datasets, which is good, but it would improve the documentation if there was a small overview available as well. Maybe just showing the first few rows and maybe a plot. Nothing too fancy but enough to get somebody new up to scratch very quickly.

[2020-05-05 14:13] tomasborrella commented on #327
So I think this issue can be closed, isn't it?

[2020-05-05 14:13] #327 closed

[2020-05-05 14:19] koaning commented on #235
@MBrouns here's a proposal!

[code]

Here's the idea. If you run;

[code]

And theres an outlier ... then ... we just raise ...

[code]

This allows the user to catch it in production and handle it the way they like. Sound good?

[2020-05-05 14:43] koaning commented on #328
3. if the gridsearch instance was trained on data that we suspect has outliers

[2020-05-05 21:09] #335 closed

[2020-05-05 21:18] #192 closed

[2020-05-05 21:18] #232 closed

[2020-05-07 12:41] koaning commented on #328
4. If there are hyperparameters in the gridsearch that have no measure-able effect. This could be varified with hypothesis tests.

[2020-05-08 13:57] MBrouns opened #342 "[BUG] OutlierRemover doesn't work with supervised learning"
X and y will have a different size after the outlier removal because we can't filter y in the pipeline

[2020-05-08 15:10] koaning opened #343 "[Feature] General Drift Detection Trees"
This image is from [calmcode](https://calmcode.io/annoy/how-it-works-1.html);

![image](https://user-images.githubusercontent.com/1019791/81419245-40459500-914e-11ea-8a72-20f77d97b02f.png)

It depicts how an annoy tree is built.

If you look at the tree, you could say "given a dataset X, we can create a distribution over de leaf nodes". If a point falls in a leaf node we count and you could create

[2020-05-10 05:46] koaning commented on #322
The more and more that I've thought about it, the more I feel like this is something that belongs in [whatlies](https://rasahq.github.io/whatlies/). There's *a lot* of embeddings out there and I feel like this can be a domain specific tool for just that.

[2020-05-10 05:46] #322 closed

[2020-05-12 19:40] kayhoogland commented on #289
https://github.com/koaning/scikit-lego/pull/345

[2020-05-13 10:46] koaning opened #346 "[BUG] Deal with 0.24 FutureWarning"
When running unit tests locally I see this warning;

[code]

It feels like we should adress this soon-ish. It's version `0.23.0` now.

[2020-05-14 21:12] Menziess commented on #106
Correlation does not imply causation.

[2020-05-22 09:37] Matgrb commented on #342
I suppose this could be fixed using imbalanced-learn Pipeline or implementing own pipeline that allows this kind of actions.
What are your thoughts on it?

[2020-05-22 19:36] koaning commented on #342
I like the idea and it's certainly valid statement, but we'd like this library to remain compatible with scikit-learn primarily. I can imagine that it gets complicated for users too if they need to figure out which components require which pipeline backend.

[2020-05-22 19:48] MBrouns commented on #342
I've given it some thought and I do think that a custom pipeline will be the only way to properly support this. That said, there might be something to say for reusing the `imblearn` pipeline here. If I recall correctly they use a `resample` method rather than a `transform`. That allows us to raise a warning in the `transform` of the outlier remover stating that if its used with supervised learning

[2020-05-22 19:51] #318 closed

[2020-05-22 20:47] koaning opened #351 "[FEATURE] fetch_creditcard"
It turns out that scikit-learn now has an api for [this service](https://www.openml.org/d/1597).

We could use it to implement `fetch_creditcard`. For the documentation it'd be amazing to have an outlier detection example.

@MBrouns any objections? If not I'll go ahead and implement it.

[2020-05-23 08:05] MBrouns commented on #351
oh that's really cool! feel free

[2020-05-23 11:24] koaning commented on #351
https://github.com/koaning/scikit-lego/pull/352

[2020-05-23 16:20] koaning opened #353 "[FEATURE] Make Annoy Variants of NearestNeighbor"
I've done some benchmarks for [calmcode](https://calmcode.io/annoy/benchmark.html) and it seems that [annoy](https://github.com/spotify/annoy) really is quite a bit faster. It may be nice to have an implementation here that uses annoy as a backend.

[2020-05-23 16:20] koaning commented on #353
Note that this holds for both the regressor as well as the classifier.

[2020-05-23 17:20] koaning commented on #340
Despite drawing amazing pictures, I forgot to check the docs and it seems like scikit-learn [allready has an implementation of this](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.RadiusNeighborsClassifier.html#sklearn.neighbors.RadiusNeighborsClassifier). Oh well.

[2020-05-23 17:20] #340 closed

[2020-05-23 17:59] koaning commented on #353
Shame. Annoy does not like to be pickled. You can serialize ... but scikit-learn demands pickle.

The code;

[code]

[2020-05-23 17:59] #353 closed

[2020-05-23 18:00] koaning commented on #321
The more that I think of it, the more that I believe this is a feature. The function needs to be grabbed from a global state which is going to do all sorts of horrible things when you're going to pickle this.

[2020-05-23 18:00] #321 closed

[2020-05-23 18:01] #289 closed

[2020-05-23 18:12] koaning commented on #346
It may be scikit-learn itself that is complaining about itself.

[2020-05-23 18:13] koaning commented on #343
The idea here may indeed have merit to it. But we cannot use `annoy` because it won't pickle.

[2020-05-23 20:24] koaning commented on #266
It might help if we agree on the signature of a drift metric. The more I think about it, the more I feel it should be an object.

[code]

The nice thing is that this might also allow us to use pipelines.

[code]

Another benefit is that we can start thinking about drift detection techniques that also use the label.

[code]

In the end though I think that all the techniques that we can come up with

[2020-05-26 07:15] koaning opened #356 "[BUG] flake8 can totally fail without warning"
This screenshot came from [this run](https://github.com/koaning/scikit-lego/pull/355/checks?check_run_id=708401914).

![image](https://user-images.githubusercontent.com/1019791/82871087-464eba80-9f31-11ea-98a4-7eb2d5b0c4d9.png)

It seems flake8 from the github action template is configured to not fail, only warn. I'd love to fix this but it'd be good to do this when there's not too many PRs open.

[2020-05-26 08:53] ogencoglu opened #357 "[FEATURE] "Error Rate Equality Difference" Fairness Metrics"
_False Negative Equality Difference_ (FNED) and _False Positive Equality Difference_ (FPED) are fairly common fairness metrics for binary classification that are rather easy to implement. Would be nice to have them.

Several academic work use these metrics::

- https://arxiv.org/abs/1808.07231
- https://dl.acm.org/doi/abs/10.1145/3278721.3278729
- https://arxiv.org/abs/1906.08286
- https://arxiv.o

[2020-05-26 09:27] koaning commented on #357
I would agree!

We're currently considering merging our fairness tools with [fairlearn](https://github.com/fairlearn/fairlearn) though. The idea being that fairness tools deserve their own package and more adult supervision than what we can give with this project.

While we're exploring this, I'd delay any work on this. But I do certainly agree that our current package is missing some fairness met

[2020-05-28 15:55] amueller opened #361 "Overlap with sklearn"
Hey folks!
This looks like a really cool library that I hadn't seen before.
It looks like there's a couple of things we now have upstream in sklearn and I wanted to note that so you could maybe add that to the docs.

Also, I'd be really curious to see which parts could be upstreamed. Contributing to sklearn can be a bit of a lengthy process, but if some of your tools are generally useful it might

[2020-05-28 15:55] amueller commented on #361
Having a callback for logging in pipelines might also be nice to upstream...

[2020-05-28 16:17] koaning commented on #361
Hi @amueller happy to hear you like some of our experiments.

The idea behind the `EstimatorTransformer` is that sometimes, the output of a model is something you'd like to add as a feature. Say, you'd like to add the output of `Kmeans` to a `RandomForestRegressor`. Then you can wrap `EstimatorTransformer(Kmeans())` and this effectively turns `Kmeans.predict()` into `Kmeans.transform()` while keep

[2020-05-28 16:18] MBrouns commented on #361
Hey @amueller! Thanks for reaching out. I think it's definitely worth it to contribute some changes upstream.

The `TrainOnlyTransformerMixin` was definitely a bit awkward to implement this way, and it also doesn't pass `check_estimator` fully because the `NotAnArray` that's used for testing doesn't really lend itself to being hashed in this way. Changing the API upstream to allow for this sounds

[2020-05-28 16:30] koaning commented on #361
To extend @MBrouns's point. We're a little bit obsessed with outliers and other reasons to assign doubt to an algorithm. In particular, we'd love for a pipeline to be able to say "wont predict" in the case that we detect, say, an outlier. The point is made clear in the example in [this pydata talk](https://youtu.be/Z8MEFI7ZJlA?t=411). We think it'd be great to have systems that are able to recogni

[2020-05-28 16:38] amueller commented on #361
Thanks for all the replies folks!
I'm not sure if having a different class for ``VotingClassifier`` is useful, but we might need to document it better. I think there was another library that had reimplemented it because they overlooked it. What name would you suggest? I wonder if we can somehow fix that with documentation? It's definitely not very discoverable.

Re SLEP: the first ever slep actual

[2020-05-28 16:43] koaning commented on #361
@amueller We're certainly investigating a meta-estimator but we're not super sure on what the best behavior is.

We could do something like:

[code]

But what is good behavior now when it detects an outlier? Should we throw an error? Should we assign a class of `-1` to outliers, overwriting the classes? Should we instead use `np.nan`? Can we do the same thing with regression/clustering?

[2020-05-28 16:46] amueller commented on #361
Well this seems most relevant in a production setting, right? There you probably don't want your model to crash (unless the surrounding code catches it). So you could either predict a placeholder like -1 or predict the mean or most common class.
Probably the best way to deal with this is handle it downstream in your application, I'd think.

[2020-05-28 18:56] MBrouns commented on #361
Fair enough, but some basic domain checks can already help in the case that an upstream system suddenly changes the scale of their data. There's at least a grey area where having some protection against simply making a prediction could be useful.

I think the main issue is with metrics. If we consider it an outlier / WontPredict instance, do we want to consider it an error for scoring? For a class

[2020-05-28 18:56] koaning commented on #361
@amueller one question out of curiosity. How did you find this repo?

[2020-05-28 19:55] amueller commented on #361
The comment on the fairness package for scikit-learn-contrib ;)

[2020-06-02 08:22] koaning opened #366 "[DOCS] Add reference to pyod"
It's a related project with *many* outlier detection models. It would help folks if we add a reference in our outlier docs.

https://github.com/yzhao062/pyod

[2020-06-02 08:27] koaning commented on #366
It also serves as a nice reminder that other folks have implemented some of the ideas that I had.

[2020-06-02 09:06] koaning opened #367 "[DOCS]"
<details>
  <summary><b>Alternative Derivation.</b></summary>
  Blah blah text and explain, maybe an image?
</details>

[2020-06-02 09:07] koaning commented on #367
This seems to work:

<details>
  <summary><b>Alternative Derivation.</b></summary>
  Blah blah text and explain, maybe an image?
</details>

[2020-06-02 10:57] koaning commented on #367
this was made for demo purposes.

[2020-06-02 10:57] #367 closed

[2020-06-03 14:18] koaning opened #368 "[FEATURE] OOVCountVectorizer"
[Rasa](https://rasa.com/docs/rasa/nlu/components/#countvectorsfeaturizer) adds an extra property to the countvectorizer for out of vocabulary words. This can be very useful in outlier detection of texts but scikit-learn does not support it.

Might be worth adding one here.

[2020-06-06 14:20] kaipoethkow commented on #294
The updated link is https://scikit-lego.readthedocs.io/en/latest/api/linear_model.html#sklego.linear_model.ProbWeightRegression .

But I found an example here https://scikit-lego.readthedocs.io/en/latest/linear-models.html#ProbWeightRegression so I guess this issue can be closed.

[2020-06-06 14:33] koaning commented on #294
Well spotted! Yes, I've since added a page.

[2020-06-06 14:33] #294 closed

[2020-06-06 18:20] #293 closed

[2020-06-09 07:40] david26694 opened #370 "[DOCS] Sources format"
Hi, I think the format of the sources in [Equal Opportunity](https://scikit-lego.readthedocs.io/en/latest/fairness.html#Equal-opportunity) is not completely right. What I see is:
[code]
And I guess the `<li id="fn1">` shouldn't be shown.

[2020-06-09 07:42] MBrouns commented on #370
Interesting, well spotted! The html tags indeed shouldn't be visible, they were there to have superscript links throughout the notebook but those seem to have disappeared as well

[2020-06-09 07:44] koaning commented on #370
@MBrouns This probably happened when we migrated from rst to notebooks.

[2020-06-23 08:35] koaning opened #371 "[FEATURE] pandas log level print"
This sort of thing can happen currently with out log_level;

![image](https://user-images.githubusercontent.com/1019791/85380387-2bc22e00-b53d-11ea-86f7-5ebb9208e2c4.png)

If I re-run the matplotlib cell it does go away, but this behavior is a bit annoying.

Would we have anything against a `print_step` addition to the library?

[2020-06-23 09:16] koaning opened #372 "[FEATURE] DictMapper"
![image](https://user-images.githubusercontent.com/1019791/85385682-e4d73700-b542-11ea-8604-6ddd444a048d.png)
In this example you pass the transformer a column to transform but also a dict. In this case you'd pass;

[code]

A transformer that transformers based on a dictionary. I don't know if sklearn has this feature but I couldn't find it.

[2020-06-23 09:18] koaning opened #373 "[FEATURE] CumulativeHotEncoder"
![image](https://user-images.githubusercontent.com/1019791/85385926-34b5fe00-b543-11ea-992c-7516862dd8c8.png)

It might make sense to have a monotonic encoding for discrete variables.

[2020-06-23 10:47] koaning commented on #333
Technically, it's implemented here: https://pyod.readthedocs.io/en/latest/. This is also a better place for it.

[2020-06-23 10:47] #333 closed

[2020-06-26 11:22] david26694 opened #374 "[FEATURE] Cyclic features transformer"
I think it'd be nice to have a transformer for cyclic features.

It should compute the sine and cosine of the given features divided by their period (times 2 * pi), as in:
![image](https://user-images.githubusercontent.com/22721584/85851384-dd1bca80-b7ae-11ea-817e-c9fb6ce03212.png)

The idea is not new and it is discussed in several places:

- [stackexchange](https://datascience.stackexchange.com/

[2020-06-26 19:56] koaning commented on #374
Have your seen our RBF repeater?

[2020-06-27 11:15] kayhoogland commented on #372
https://github.com/koaning/scikit-lego/pull/375

[2020-06-27 11:19] david26694 commented on #374
Ok, I thought this needed to create several features which is what bothered me but I see that it's not the case, thanks!

[2020-06-27 11:19] #374 closed

[2020-06-27 13:17] koaning commented on #372
Typically I'd assume that @MBrouns confirms that ideas that I pitch here is a sound one before I start working on an issue and in this particular case I was hoping to use this example in a [calmcode](https://calmcode.io) series. In this case it went fine but @kayhoogland feel free to in the future claim an issue before you start working on it. Otherwise folks might do double work.

That said, I'll

[2020-06-27 13:47] kayhoogland commented on #372
That makes sense! Next time I will leave a short comment before I start working on it. Since I created this tranformer before, it did not take a lot of time to code.

[2020-06-29 07:39] davideanastasia opened #376 "[BUG] Cannot install on Mac OS X High Sierra"
I am currently using a pipenv environment with Python 3.7.7 originally sourced via Homebrew.
When I run `pipenv install scikit-lego`, I get an error which renders the installation impossibile:

[code]

[2020-06-29 08:11] koaning commented on #376
I've never used `pipenv` before, just to check ... if you install via pip/conda everything runs fine?

[2020-06-29 08:12] koaning commented on #376
What occurs to me as strange is that our project does not depend on `numba` so it is bound to be one of our dependencies that requires this numba version. Possibly it is `umap-learn` but I can't be sure.

[2020-06-29 08:16] koaning opened #377 "[FEATURE] Add github action with Cron"
Our project has accumulated a large number of dependencies. This brings downsides on of which is that we might have a broken dependency version. We should add a sniff test for this, probably a daily job that tries to install everything with the latest versions. It seems that we can use [github actions for this](https://jasonet.co/posts/scheduled-actions/) and it might aid in debugging problems lik

[2020-06-29 08:58] davideanastasia commented on #376
I works fine with conda on my other Mac with Catalina (just tested)
Installing 0.4.3 on my Mac with High Sierra in a pipenv environment works fine too

[2020-06-29 09:05] MBrouns commented on #376
umap-learn does require numba, but it's quite a lenient dependency (`"numba >= 0.46, != 0.47"`). Also, numba 0.50.1 is released on PyPI, so it's strange that it couldn't be found. AFAIK, pipenv uses PyPI

[2020-06-29 11:06] kayhoogland commented on #372
I think this encoder goes beyond the OrdinalEncoder as I can also decide to map a string to a string. For example:

[code]

I imagine this can also be GridSearched if I would like to try different mappings. For example:
`{"Amsterdam": "Netherlands", ... }` versus `{"Amsterdam": "Europe", ...}`

[2020-06-29 14:24] koaning commented on #372
@kayhoogland this is why I usually wait until @MBrouns gives feedback before I implement something ;).

From my end: I've tried using the Ordinal Encoder in the past but it is *not* an intuitive API. Note that I think of it, you could also technically use the FunctionTransformer with a lambda to implement this since nothing is really learned here. I do think this approach wouldn't gridsearch nicel

[2020-06-29 14:32] koaning commented on #376
You could try manually installing numba 0.46 and then installing scikit-lego. That should work.

[2020-06-29 19:10] davideanastasia commented on #376
Thanks for your help: I managed to successfully install the latest version of `scikit-lego` initially forcing numba to 0.46 and tbb to 2019.0. After playing a little bit, I managed to install numba 0.50.0 (which is just one behind the latest 0.50.1), so I am wondering if there is a bit of delay in getting modules ready for Mac on PyPI?

Anyway, I think it's fair to say this is not a bug in scikit-

[2020-06-29 19:10] #376 closed

[2020-06-29 20:35] kayhoogland commented on #372
@koaning I learned that the hard way now 😉.

I agree with your vision and think the DictMapper's flexibility over the OrdinalEncoder can be valuable.

[2020-06-29 23:53] vtoliveira commented on #377
Why not use Travis or Drone for this? (If I understood correctly what you want)

[2020-06-30 07:50] koaning commented on #377
We used travis in the past and found that the integration with github can be ... problematic. I've also found it to be slower than github actions. On top of that, travis got sold a while ago and the company that bought it does not seem eager to invest in great service to the unpaying open source projects.

I appreciate the offer though!

[2020-06-30 08:26] koaning commented on #361
@amueller I've added an issue where we can discuss the addition of a sampling strategy in scikit-learn. I'd love to contribute.

[2020-06-30 12:17] vtoliveira commented on #377
Hm, I see your point. I am reading about github-actions so I can help. If you solve this before me, please let me know.

[2020-06-30 13:13] koaning commented on #377
If you're interested in taking this one; feel free! Thanks even :)

[2020-06-30 13:21] vtoliveira commented on #377
I am! Although it seems pretty much what you said: we just change on for schedule and then do the builds. I am just doing a research to assure that all dependencies will be installed in their latest version through pip. If not, a bash script is appropriate in this case, right?

[2020-06-30 14:57] vtoliveira commented on #377
I did some tests, and apparently it installed last version of numba and everything went ok:

https://github.com/vtoliveira/scikit-lego/runs/822892761?check_suite_focus=true

[2020-06-30 16:37] koaning commented on #377
That seems like it could work. I might prefer having this check in a seperate file though, just to make sure the workflow for PR/PUSH remains untouched.

If you create a seperate for it I'm cool with reviewing the PR.

Also, I think once every week might be enough. @MBrouns or do you prefer daily?

[2020-06-30 16:48] vtoliveira commented on #377
Hum, yes, it is in a separate file. I just copied the structure and all that I do is pip install scikit-lego, do you think is there anything else to include it?

[2020-06-30 17:21] koaning commented on #377
Feel free to make a PR, that way @MBrouns might also have a look. He might have some input on other things that might be useful to add.

[2020-06-30 18:07] vtoliveira commented on #377
Created. It is my third time on an open source project. Please any mistake let me know.

[2020-07-01 21:44] vtoliveira commented on #373
Can you explain more about your idea? Maybe I can help to implement / explore alternatives if you want help.

[2020-07-02 07:25] koaning commented on #373
I'd prefer if @MBrouns gives approval first but the idea came from the theme of monotonic models. I'll draw a more expansive example below.

![image](https://user-images.githubusercontent.com/1019791/86329050-ed67f580-bc45-11ea-89a2-977399edb8b2.png)

Suppose we'd like to encode age into buckets but we'd still like the model to understand that these buckets are monotonic. An example is that we hav

[2020-07-04 08:32] MBrouns commented on #373
I think there's a lot of merit to this idea. I've toyed around with something similar for encoding the target of ordered multiclass classification and it seemed to work there, so I expect it to also be useful here.

[2020-07-04 08:33] MBrouns commented on #371
this is if you set your log level to debug? I'm not necessarily against print step but maybe this is a documentation issue instead.

[code]

 also solves it

[2020-07-04 15:03] koaning commented on #373
@vtoliveira I'd say this is green for a PR then. Feel free to pick it up.

[2020-07-04 15:05] koaning commented on #371
This is true, but you'd need to do this for every module that you potentially import. But I agree that two valid PRs can now happen;

- open to adding `print_step`
- open to an update to the docs that also explains this phenomenon

[2020-07-06 18:20] pim-hoeven opened #380 "[FEATURE] A light version that does not depend on cvxpy (and others?)"
Please explain clearly what you'd like to see added.

- [x] convince us of the use-case, we're open to many suggestions but we prefer to solve problems with pipelines that are at least somewhat general
**When using the package in a Docker container without C installed, installation (can?) fail on CVXPY**

- [x] ~~add a screenshot if applicable (ML stuff is hard to explain with words, pictures say

[2020-07-06 19:07] koaning commented on #380
@pim-hoeven Is this a feature or a bug that you're reporting?

[2020-07-06 20:46] pim-hoeven commented on #380
I think I would go with feature, because it's probably not the most common use.

It is actually something I encountered a while ago, so not exactly sure. If I remember correctly, it was a very basic docker image without C or Python, after installing Python it was possible to install sklego without dependencies, but not with dependencies. I narrowed it down to cvxpy being the culprit and at that ti

[2020-07-06 21:05] pim-hoeven commented on #380
I think the main concern was not that it was not possible to add C to the container, but that we didn't want to include C in the container to be able to install the package.

[2020-07-07 07:01] MBrouns commented on #380
The problem, in this case, seems to be that `cvxpy` doesn't have wheels available. That might be worth something to fix upstream at some point just to make it easier and faster to install.

That said, I think we could indeed improve some things with regards to the dependencies we install, we currently have a couple of big ones (numba, cvxpy) that are only used for a small subset of the features in

[2020-07-07 08:21] koaning commented on #380
@pim-hoeven one thing I wonder, this problem persists even if you were to install with conda? Part of the solution here does seem to add something about containers and our dependencies to the documentation. Certainly if building a container is tricky we should add an FAQ about it.

@MBrouns if we were to add this behavior I'd agree that the second method (e.g. `pip install scikit-lego[fairness]`)

[2020-07-07 10:19] pim-hoeven commented on #380
@MBrouns good call on the wheels and apologies for pointing in the wrong direction.

I also agree that `pip install scikit-lego[fairness]` would be a nice option. Something else to consider is the pandas way: not adding it to requirements, but checking for and loading the optional dependency. See for example `import_optional_dependency` used [here, line 74](https://github.com/pandas-dev/pandas/blo

[2020-07-07 10:42] pim-hoeven commented on #380
Some additional thoughts:

- Not all classes in `linear_model` depend on `cvxpy`, some of them do (`ProbWeightRegression`), some of them don't (`LowessRegression`). How to handle the import of `cvxpy` if we want to use `LowessRegression` but did not install `cvxp`
- I'm not familiar with all other packages, my first thought would be to only exclude `cvxpy` if `[fairness]` is not specified. Another

[2020-07-07 20:25] koaning commented on #380
@pim-hoeven what happens if you just use docker with the base python:3.7 image? or the scipy one? those *should* work.

[2020-07-07 20:27] koaning commented on #380
If the base python container work as well as conda then I'd argue the docker issue is remedied. It'd still be nice to have an FAQ with a docker example there but it may be good to split this into two seperate issues.

1. adding a docker example to the docs
2. how to deal with cvxpy-like dependencies (i guess we'll continue that conversation here)

[2020-07-07 20:28] koaning opened #381 "[DOCS] Add F.A.Q. about docker container"
@pim-hoeven accidentally spent a lot of time getting docker to work with this library. This could have been prevented with an example of a docker file that works. Good reason to add a FAQ.

[2020-07-08 05:35] pim-hoeven commented on #380
Should have been a it clearer in my previous message, but in base Python:3.7 installing works fine! The specific image that had this issue was debian:stretch (so it might also be the case for other images that do not come with Python installed).

On the debian image, installing via conda also works!

As I mentioned earlier, this happened around 9 months ago, I think sklego wasn't yet available on

[2020-07-08 09:27] koaning commented on #380
@MBrouns to me it feels like cvxpy is the main dependency that is causing trouble. Mayyyybe numba, but mainly cvxpy.

In this situation it seems sensible to have either one of three solutions.

1. Make the documentation super clear on how to properly install cvxpy.
2. Make all the cvxpy dependencies optional. Since cvxpy is used in many places in our project I'm not super looking forward to the ch

[2020-07-08 09:28] #351 closed

[2020-07-08 11:55] vtoliveira commented on #373
Thanks for the explanation @koaning. I will work on it hopefully to the end of the week. Again, if anyone is interested to discuss / implement it, please go ahead.

[2020-07-08 12:29] david26694 opened #383 "[FEATURE] Grouped Transformations"
I think it'd be nice to have the following feature, or something similar: The group mean featurizer transforms a numeric feature based on a categorical feature, by deleting the mean of the feature in each category. That way, if we know that the numeric and the categorical feature are very correlated, we can obtain some kind of decorrelated feature.

I think it makes sense to be used both in superv

[2020-07-08 16:13] koaning commented on #373
@vtoliveira There is no rush, but feel free to start working.

[2020-07-08 17:23] koaning commented on #383
Interesting, we may already allow for such a "freaky" trick. I also don't think it is *that* freaky; what you

We currently feature a `GroupedEstimator` (docs [here](https://scikit-lego.readthedocs.io/en/latest/meta.html#Grouped-Estimation) which will split the dataset up into groups and then train a model on each (you can do this independantly or with hierarchy in mind). These models however need

[2020-07-08 17:27] koaning commented on #383
One thing to add here -> you can actually extend this idea not to calculate the mean per group, but to have a regression. If you consider the example for house prices;

![image](https://user-images.githubusercontent.com/1019791/86950806-f0d11480-c150-11ea-9ed0-d164563c35a4.png)

Why keep it linear?

Another idea for house-prices by the way. You can make the price/m2 regression grouped per city, bu

[2020-07-08 20:50] koaning commented on #366
https://github.com/koaning/scikit-lego/pull/384

[2020-07-08 20:50] #366 closed

[2020-07-09 07:04] david26694 commented on #383
Hmm, thanks for commenting about the `GroupedEstimator` and `EstimatorTransformer`, I was not aware of them and they do look powerful. I think there's something I don't completely understand though.

By looking at the code

[code]

what `group_mean_step` acts as is like a target or mean encoder for city (when it is fitted, it computes the mean of the target for each city).

Therefore, if we fit a

[2020-07-09 07:27] koaning commented on #383
Ahh now I see. That you're suggesting there is indeed different than what I mentioned.

Would I be correct by saying that it sounds like a grouped `StandardScaler` then? In scikit-learn you can specify that the standardscaler only applies the mean and not the standard deviation. I like the idea of having the grouping still be independant of the scaling that you pass in. This should make it much mo

[2020-07-09 08:27] david26694 commented on #383
Yeah, I couldn't have put it better myself.

A `GroupedTransformer` would allow for this and more general things.

For instance, as a similar idea, at some point I tried to implement a  `QuantileGroupTransformer`, which would give the [scikit-learn quantile](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.QuantileTransformer.html#sklearn.preprocessing.QuantileTransformer) b

[2020-07-09 08:45] koaning commented on #383
Now that I think of it, I think we should make a seperate object. The current implementation of the `GroupedEstimator` also allows for hierarchical combinations. It can apply shrinkage to ensure that if a subgroup is small that it can learn more from the parent. This is something that is relatively easy to pull off with predictions, but really unfeasible with transformations.

This does leave me t

[2020-07-10 08:13] MBrouns commented on #383
This looks fun, I think I could have a lot of fun playing around with a GroupedTransformer meta-transformer.

I agree that we should probably not touch the `GroupedEstimator` at this point, the implementation is quite convoluted to account for the shrinkage and as you said I don't see how that's supposed to work on a transformer yet. I'd suggest building a `GroupedTransformer`, renaming `GroupedEs

[2020-07-12 07:29] nvanommeren commented on #288
Hello! I just submitted a merge request and still have a question:

- There is a notebooks folder inside the docs folder, but there are also many notebooks outside of this folder. What is the preferred location for the datasets notebook?

Let me know if you have any feedback.

[2020-07-14 12:47] pim-hoeven commented on #380
Maybe something like this? It is a bit hacky, but does not need a lot of changes
[code]
with `sklego.utils.uninstalled` containing

[code]

Then if we call `cp.something()` and `cvxpy` is installed correctly everything works fine. If it isn't installed, every call to `cp.something()` will raise a ValueError (could also be an ImportError or something else). The approach could also be used for multi

[2020-07-16 10:00] pim-hoeven commented on #383
I would like working on the `GroupedTransfomer`, sounds very useful! I'll give it a try today / tomorrow and will keep you posted.

Completely agree that the `GroupedEstimator` became quite a beast with the shrinkage (sorry), so will keep it as-is for now. Maybe I find things to simplify while working on the `GroupedTransformer`, but will make separate issues if I do.

[2020-07-17 07:28] david26694 commented on #99
Is this still open? I'd be happy to take it

[2020-07-17 08:02] koaning commented on #380
I think the pattern is sensible and it reads as something that I could live with for this package. I only wonder ... is this how other packages also deal with it?

[2020-07-17 08:13] pim-hoeven commented on #380
I haven't seen this exact pattern, but I got inspired by [this piece of code](https://github.com/scikit-learn/scikit-learn/blob/c29092d6994a43ea19a82e91c0331e8b7d6e7d36/sklearn/utils/fixes.py#L24) in sklearn:
[code]

I did not check how this works exactly, but it made me think of using the module name as a class which attributes will raise a nice exception if called in any way.

I'll make a PR :)

[2020-07-17 08:18] koaning commented on #380
@pim-hoeven I might wait! I think @MBrouns is on holiday and I just want to make sure he's on board with this.

[2020-07-17 08:20] koaning commented on #99
It is still open, but let's first make sure we're clear on what will get implemented. Do you want to implement `log_dtypes` or also `log_names`?

Relevant: there's a related issue too https://github.com/koaning/scikit-lego/issues/371.

[2020-07-17 08:25] MBrouns commented on #380
I think an `ImportError` would make slightly more sense. I'm fine with the general pattern! It's also how I handle plotting in TimeSeers and it's also how Airflow handles optional dependencies AFAIK.

Could be that I'm wrong, but I think `pip  install scikit-lego[nocvxpy]` can't actually be defined? I don't think you can remove packages from being installed in `extras_require`, but I'm happy to be

[2020-07-17 08:32] koaning commented on #380
@pim-hoeven in that case, you're green for the PR.

[2020-07-17 08:36] koaning commented on #303
Closing this issue now. We've decided to port our fairness tools to [fairlearn](https://fairlearn.github.io/). The tools will still be hosted here but we figured it better to merge our tools to a project with more attention from maintainers.

[2020-07-17 08:36] #303 closed

[2020-07-17 10:13] pim-hoeven commented on #380
This could have been a solution: https://github.com/pypa/setuptools/issues/1139

That would give us a default 'extras' to be installed, which in this case would be cvxpy.

[2020-07-17 11:11] david26694 commented on #99
I was thinking about both. I don't fully understand what is happening in #371, why is matplotlib generating warnings and what would the print step do?

[2020-07-18 11:41] koaning commented on #99
The print step would do a very similar thing to what `log_step` would do but it would use `print` instead of using the python logging framework. The reason why matplotlib is generating warnings is because we've configured a logger to work in the notebook. This allows you to receive logs from `log_step` (this is awesome for production) but you might also get the logs from other libraries (which is

[2020-07-23 06:38] koaning opened #389 "[FEATURE] SVD Imputer"
This [tweet](https://twitter.com/WomenInStat/status/1285614472065953793) makes a good point. SVD could be an amazing method to impute missing values.

[2020-07-24 09:55] pim-hoeven opened #390 "[IMPROVEMENT] Apply lessons of GroupedTransformer to GroupedEstimator"
I feel this isn't really a bug nor a feature, so labelled it improvement.

While working on #387 I noticed that grouping can be implemented cleaner and easier if we separate grouping and value data from the start. There is also quite some overlap which I think should be taken away.

In the process we can deprecate `GroupedEstimator` in favour of `GroupedPredictor`

[2020-07-24 13:58] TCACastelijns opened #391 "Spelling error in sklego.linear_model"
https://github.com/koaning/scikit-lego/blob/ffd09a385565ee864bfa884518ac46c6737a97f8/sklego/linear_model.py#L351

While working with the `DemographicParityClassifier` I noticed a spelling mistake in the code as shown above.

The `_DemographicParityClassifer` class should become `_DemographicParityClassifier`

[2020-07-24 14:01] koaning commented on #391
Feel free to make a PR.

[2020-07-24 14:01] koaning commented on #390
I'd start working on it once the transformer is ready but aye, this'd be grand.

[2020-07-24 14:36] rickhg12hs opened #393 "Smoke test on local machine after `pip install scikit-lego`?"
Is there a "smoke test" for scikit-lego after installing with `pip install scikit-lego`?  It'd be nice to know that everything works as intended on a local `pip install`.

[2020-07-24 16:33] MBrouns commented on #393
That’s a good question actually. My first idea would be to run the test
suite but it’s not actually included in the package when you pip install.
If the imports work though I don’t really see a reason why it shouldn’t
work. We have tests running daily on the repo.

On Fri, 24 Jul 2020 at 16:36, rickhg12hs <notifications@github.com> wrote:

[2020-07-24 17:46] rickhg12hs commented on #393
I'm wondering how easy a `scikit-lego-tests` package might be made that could just execute the test suite.

[2020-07-24 18:41] rickhg12hs commented on #393
After installing all the `pytest` dependencies, creating a temporary directory, and `cd`'ing into it, this seemed to work OK to run the test suite on a local `scikit-lego` install.

[code]
All the tests seem to pass, though there are plenty of deprecation/future warnings and also a handful of `RuntimeWarning:` and `ConvergenceWarning:`.

My command above is a bit inconvenient in that it is version

[2020-07-24 19:59] MBrouns commented on #393
That might be doable with setuptools. The test suite is already built in a
way that it tests the installed scikit-lego package. I’d welcome a pr if it
doesn’t impact the regular package installation and if you’re willing to
dig into it of course.

On Fri, 24 Jul 2020 at 19:46, rickhg12hs <notifications@github.com> wrote:

[2020-07-25 12:28] nvanommeren commented on #290
Hee! Just to double-check, do you mean the documentation of the BayesianKernelDensityClassifier in neighbors.py?

[2020-07-25 12:59] koaning opened #394 "[BUG] [DOCUMENTATION] HTML title on the docs"
It insists the wrong version.

![image](https://user-images.githubusercontent.com/1019791/88457498-69411080-ce87-11ea-9b09-ec15d8852aae.png)

[2020-07-25 13:00] koaning commented on #290
Yes. It'd be cool to have it combined in some way here: https://scikit-lego.readthedocs.io/en/latest/mixture-methods.html.

[2020-07-25 13:09] #391 closed

[2020-07-25 16:52] #383 closed

[2020-07-27 11:21] rickhg12hs commented on #393
I've never created a package before.  I'd hate to put you through my learning curve. :blush:

[2020-07-27 13:55] koaning commented on #393
Is smoke testing after an installation common? Is there an example of a package that already does this? I'm a little bit anxious about raising all sorts of errors during the installation process. The idea sounds reasonable, but I'm not sure if it is common practice.

[2020-07-28 10:50] rickhg12hs commented on #393
After installation/upgrading from source, smoke testing is very common.  Your project already does this - super!  However, installing packages built and tested on another system require that the package get all the install components, dependencies, machine/OS specifics, etc., exactly right.  Testing after package installation can assure that everything executes as intended on the install machine/O

[2020-07-28 21:43] #394 closed

[2020-07-29 08:30] koaning opened #399 "[BUG] GroupedTransformer fails with new numpy version"
@pim-hoeven it seems like pandas/numpy just did a new release and it seems to break a test. The test involves using `-1` to indicate a column that you'd like to group over.

Here's what the code currently does.

![image](https://user-images.githubusercontent.com/1019791/88776415-34360600-d186-11ea-9b54-115cde39cb29.png)

Here's what it should do.

![image](https://user-images.githubusercontent.com